[2018-02-06 18:32] sebarosales opened #1 "Entity not received by daemon if total size exceeds 64KB"
**STEPS TO REPRODUCE THE ISSUE**
1) BeginSegment
2) BeginSubsegment
3) AddMetadata (optional, but it makes the reproduction easier if large metadata is added, for example 32KB)
4) EndSubsegment
5) Repeat steps 2 to 4 until total segment size is greater than 64KB (for example, 2 subsegments with 32KB of metadata)
6) EndSegment

According to documentation (https://docs.aws.amazon.com/xray/latest/dev

[2018-02-06 22:45] rnowosielski opened #2 "Exception thrown when hosting ASP.NET Core MVC application in lambda using Amazon.Lambda.AspNetCoreServer"
I have a ASP.NET Core MVC application hosted inside of the lambda using the Amazon.Lambda.AspNetCoreServer

When I try to initialise the X-Ray I have the following exception when the app is starting up inside the lambda

    Unhandled Exception: System.AggregateException: One or more errors occurred. (Unable to cast object of type 'Amazon.XRay.Recorder.Core.Internal.Entities.FacadeSegment' to type

[2018-02-07 02:46] aidansteele opened #3 "Outgoing HTTP request tracing"
Hiya,

It would be good if the outgoing HTTP tracing was extended to also include HTTP requests issued through `System.Net.Http.HttpClient`. This is just anecdotal, but it seems there is an industry-wide shift towards this new API.

Ideally, the SDK might provide a `DelegatingHandler` subclass that we can inject into the HTTP client for a most-invisible installation of the SDK across our code base

[2018-02-07 04:39] yogiraj07 commented on #1
Hi @sebarosales,

Thank you for the post.

We send segments/subsegments over UDP to the local X-Ray daemon. UDP packets are limited to 64KB in size which resulted in your segment (that contains all your subsegments) being rejected by daemon. You can get more insights by setting up logger. Please refer [Link]( https://github.com/aws/aws-xray-sdk-dotnet/tree/master#logging-net).
 It would be possibl

[2018-02-07 04:39] #1 closed

[2018-02-07 04:45] yogiraj07 commented on #3
Hi @aidansteele,

We appreciate your suggestion. We also welcome you to submit a pull request for this feature.

I am currently closing this issue. We would consider this in our future release.

Thanks,
Yogi

[2018-02-07 04:45] #3 closed

[2018-02-07 05:13] yogiraj07 commented on #2
Hi @rnowosielski ,

Thank you for posting this issue.

From the error stack trace, I see that `XRayPipelineHandler` is invoked. This is a wrapper around your AWS SDK request (for eg: Dynamo db operations). I wonder how this `BeforeRequestEventHandler()` method is called since its a part of `AWSSdkTracingHandler ` class and is deprecated. Can you please confirm the location of your error.

Also ple

[2018-02-07 09:06] rnowosielski commented on #2
I followed the steps for .NET Core to configure my app. So I do have a `app.UseXRay("Segment name");` in the `Configure` method, and then in the constructor of the `Startup` I placed

    AWSXRayRecorder.InitializeInstance(Configuration) ;
    AWSSDKHandler.RegisterXRayForAllServices();

The peculiar thing is that I do have KMS calls in the `ConfigurServices` method that is decrypting the connecti

[2018-02-07 09:58] ljacobsson opened #4 "Support tracing of HTTP requests using HttpClient"
Feature request.

Currently the SDK only supports out-going HTTP requests using the `HttpWebRequest` client. It would be useful having tracing capabilities for those using `System.Net.HttpClient`.

For now I've created a [custom MessageHandler](https://github.com/mhlabs/MhLabs.AWSXRayHttpClientHandler/tree/master) for this, but would be great to have this or something similar as part of the SDK.

[2018-02-07 15:07] sebarosales commented on #1
Hi Yogi,

Thanks for your answer.

Currently MaxSubsegmentSize is a constant and the only way to change it is to modify and recompile the code. This makes the process of keeping the SDK updated much more complicated.

¿Could it be a setting?

[2018-02-07 18:50] yogiraj07 commented on #4
Hi @ljacobsson ,
Thank you for the feature suggestion. We welcome your pull request.

Thanks,
Yogi

[2018-02-08 04:45] SergeyKanzhelev commented on #4
You can use [Diagnostics Source](https://github.com/dotnet/corefx/blob/b3033e6bd586fb7bdc2e1afdd1694e790272ce6e/src/System.Net.Http/src/HttpDiagnosticsGuide.md) to get information about outgoing http calls.

[2018-02-08 04:50] SergeyKanzhelev opened #6 "Use DiagnosticsSource instead of middleware"
Using middleware to track request is not necessary. [Diagnostics Source](https://github.com/aspnet/Hosting/blob/e4350945c56d69523fe36bf33c58b955db3d8985/src/Microsoft.AspNetCore.Hosting/Internal/HostingApplicationDiagnostics.cs#L18) was designed to allow tracking incoming requests without injecting middleware.

[2018-02-09 00:06] yogiraj07 commented on #6
Hi @SergeyKanzhelev ,

We appreciate you taking time and providing us feedback. We would like to consider this approach in our future work. We welcome pull request and happy to review it.

Thanks,
Yogi

[2018-02-09 06:26] AbbTek commented on #2
HI,

I'm getting a similar issue. In my case, I have a Lambda function running NetCore 2.0 and APIGateway. I'm starting the X-Ray in the handler

AWSSDKHandler.RegisterXRayForAllServices();

`One or more errors occurred. (Unhandled exception): AggregateException
at System.Threading.Tasks.Task`1.GetResultCore(Boolean waitCompletionNotification)
at lambda_method(Closure , Stream , Stream , LambdaCon

[2018-02-10 01:46] yogiraj07 commented on #2
Hi @rnowosielski , @AbbTek ,

Thank you for reporting this bug. We appreciate your efforts and are currently working on fix. We would soon update you.

Thanks,
Yogi

[2018-02-13 01:15] yogiraj07 commented on #2
Hi @rnowosielski , @AbbTek ,

We have fixed this bug in release : `2.0.1-beta`. Please feel free to explore new version. Let us know if you have questions.

Thanks,
Yogi

[2018-02-13 04:14] AbbTek commented on #2
Hi @yogiraj07 I tested it, and now it works perfectly, thanks it is really cool

[2018-02-13 19:03] #2 closed

[2018-02-16 00:57] PaulDMendoza opened #7 "ASP.NET Core 2.0 not recording correct status code for request in XRay"
Problem: When a request throws an exception and returns a 500 type response to the user, the ASP.NET XRay middleware is telling XRay that the whole request was a 200 even though one of the subsegments has an error. This makes searching for problems more difficult in XRay. Notice the search result says there were no faults or errors but there should have been one faulting request.

Issue 2 but mayb

[2018-02-16 19:54] yogiraj07 commented on #7
Hi @PaulDMendoza,

Thank you for your post. Just a nit-pick, ASP.NET Core X-Ray middleware is used in this scenario.

Issue 1:
Though ASP.NET Core is returning 500, from Lambda’s perspective, it has successfully invoked function and hence Lambda node shows green color with status 200.

Currently AWS Lambda emits the trace segments on your behalf and does not allow modification of these segments fr

[2018-02-16 20:26] PaulDMendoza commented on #7
Thanks Yogi. That's a bit frustrating to hear about XRay reporting the less interesting status codes.

I will close this issue.

[2018-02-16 20:26] #7 closed

[2018-02-17 04:14] PaulDMendoza opened #8 "Don't set MaxStackFrameSize to 50 in a const variable like you do now for Exception handling"
The max stack frame size is cutting off the interesting bits of my Exception. If you could make that value at least configurable somehow or make it a public static value that I could set on application start that would allow me to capture more Exception details than I'm getting now. The value is currently hardcoded to 50. I haven't found any XRay docs stating 50 is a limit for the stack frame limi

[2018-02-17 16:52] PaulDMendoza opened #9 "Signature of TraceMethodAsync shoud probably be async Task instead of async void"
I was trying to use the async method **TraceMethodAsync** and noticed it has a return type of void. Generally with C# methods that are async that don't return anything should have a return type of Task, not void unless they're event handlers. Your code might actually be handling it okay but it would be better to just return Task since that is the C# best practice.

https://haacked.com/archive/2014

[2018-02-19 19:19] yogiraj07 commented on #9
Hi @PaulDMendoza ,

We appreciate your feedback and will consider this in future release.

Thank you,
Yogi

[2018-02-20 19:48] yogiraj07 commented on #9
Hi @PaulDMendoza ,

We have modified the signature  for`TraceMethodAsync()` method in release `2.1.0-beta`.
Thank you for your suggestion and we welcome you to submit pull request for any desired features.

Changelog : https://github.com/aws/aws-xray-sdk-dotnet/blob/master/CHANGELOG.md

I am closing this issue.

Yogi

[2018-02-20 19:48] #9 closed

[2018-02-27 21:37] richardgavel opened #10 "Add the ability to add additional attributes to the http segment"
It would be useful to be able to add additional attributes to the http segment that we might want to pull from the request, such as specific cookie values, claims from a header token (or other header information), etc. This would have an impact, I assume, on the filtering within the XRay UI to be able to filter by those additional attributes.

[2018-02-28 21:48] yogiraj07 commented on #10
Hi @richardgavel ,

We have adding annotations capability for segment/subsegment , which you can leverage to store desired information about http request.

Annotations are indexed for use with filter expressions.

Please refer :  https://docs.aws.amazon.com/xray/latest/devguide/xray-sdk-dotnet-segment.html

Let us know if you have any questions.

Thanks,
Yogi

[2018-03-01 11:42] FelixAv opened #11 "Max allowed object depth reached while trying to export from type System.String"
Hi,
We've enabled X-Ray in lambda constructor using this line AWSSDKHandler.RegisterXRayForAllServices()
When we tried to run the code we got the following exception

**One or more errors occurred. (Max allowed object depth reached while trying to export from type System.String)**

Our code looking something like this:
var table = Table.LoadTable(dynamoDbClient, "tableName");
var res = table.Scan(

[2018-03-01 18:12] nedjs commented on #11
I was able to get around it by customizing the serialization behavior

[code]

[2018-03-01 18:19] yogiraj07 commented on #11
Hi @nedjs ,
Thank you for posting your scenario and a workaround. From the error stack it looks like, some request/response parameters returned by `res.GetRemainingAsync();` were not serializable.

We appreciate your workaround and welcome you to submit a pull request. We would consider this issue in our future work.

Best,
Yogi

[2018-03-01 20:07] nedjs commented on #11
Addressed with https://github.com/aws/aws-xray-sdk-dotnet/pull/12 . Workaround still stands for people whom are using the current version. The workaround should have no negative impact on the fix.

[2018-03-01 23:14] tsibelman commented on #11
@yogiraj07 please fix it, looks like x-ray should work at the minimum with all AWS clients.

[2018-03-02 00:02] yogiraj07 commented on #11
Hi @tsibelman ,
Thank you for the suggestion. We would fix this as soon as possible in the upcoming release.

Thanks,
Yogi

[2018-03-02 09:50] FelixAv commented on #11
@nedjs Thanks, however I tried the workaround and still getting the same error

[2018-03-02 20:12] Caldas commented on #10
Indeed @yogiraj07 I'm using annotations a lot !!

sample for `application` (system that calls my Audit system) extracted from request header
![image](https://user-images.githubusercontent.com/938045/36919617-b3355f32-1e3c-11e8-9a8a-2ee17e5a4df9.png)

[2018-03-02 20:19] Caldas opened #13 "Error when using IHostedService"
I have an [IHostedService](https://www.stevejgordon.co.uk/asp-net-core-2-ihostedservice) that uses `IAmazonS3` to retrieve data every cron defined time. It's works well until I set `AWSSDKHandler.RegisterXRayForAllServices();`.

If I try to use `AWSSDKHandler.RegisterXRayForAllServices();` to use XRay to trace my S3 call I get the following error:

[code]

[2018-03-05 18:04] yogiraj07 commented on #13
Hi @Caldas ,

`AWSSDKHandler.RegisterXRayForAllServices();` creates `subsegment` on each AWS SDK downstream call. When a `subsegment` is created, AWS X-Ray SDK expects `segment` to be already present in the `CallContext`.

ASP.NET Core/ ASP.NET X-Ray middleware creates segment for each incoming request.

`IHostedService` is run as independent task in the background with respect to ASP.NET Core/ AS

[2018-03-06 01:04] Caldas commented on #13
Thanks @yogiraj07

As you recommended I added the segment before the call and it worked like a charm :)

![image](https://user-images.githubusercontent.com/938045/37008506-1cbdc166-20c1-11e8-871e-3de7380a7d88.png)

![image](https://user-images.githubusercontent.com/938045/37008513-29782798-20c1-11e8-8427-1faeb873924b.png)

[2018-03-06 01:30] nedjs commented on #13
I would like to see a bit more defensive programming around the XRay subsegment creation. In particular the behavior of throwing exceptions if `TraceContext.GetEntity()` doesnt have an entity. I would expect that by using the command "RegisterXRayForAllServices" I would conditionally run on AWS services, not completely fail.

That might be outside the spec but I imagine for any integration with an

[2018-03-07 18:36] mpetito-envative opened #14 "AspNet Handler Exception without User Agent"
There's a NullReferenceException when using the ASP.NET handler if the inbound HTTP request does not have a User-Agent header specified.  This is a simple fix if you need a PR.

https://github.com/aws/aws-xray-sdk-dotnet/blob/4ca2e77200f4b4f7d6f642049da42e0005b7227e/sdk/src/Handlers/AspNet/AWSXRayASPNET.cs#L174

[code]

[2018-03-07 20:58] nedjs commented on #11
@FelixAv After some poking around I think this is likely due to the serialization of Amazon.Util.Internal.ConstantClass which many SDK's use. You can test a fix by adding

    JsonMapper.RegisterExporter<ConstantClass>((v, writer) =>
    {
         writer.Write(v.Value);
    });

Felix can you test that and see if it works? If so I would be happy to put up a PR for it.

[2018-03-08 17:32] yogiraj07 commented on #14
Hi @mpetito-envative ,
Thank you for reaching out to us. We appreciate you for submitting the pull request for fixing this issue.
I am merging your pull request.

Best,
Yogi

[2018-03-08 17:32] #14 closed

[2018-03-08 17:44] yogiraj07 commented on #10
Hi @richardgavel ,
Closing this issue. Feel free to reopen, if you have any questions.

Best,
Yogi

[2018-03-08 17:44] #10 closed

[2018-03-08 17:50] yogiraj07 commented on #11
Hi @nedjs ,
You are right. We need to serialize `Amazon.Util.Internal.ConstantClass`. I also came to same conclusion. We are planning to include this fix in the upcoming release. Please feel free to submit pull request. We are happy to review it.

Thanks,
Yogi

[2018-03-14 16:38] yogiraj07 commented on #13
Hi @nedjs ,

Thank you for the feedback. AWS X-Ray SDK for .NET/.NET Core has `AWS_XRAY_CONTEXT_MISSING ` environment variable, which is set by default to `RUNTIME_ERROR`. This means, a runtime exception is thrown with errors related to missing segment. You can set this to `LOG_ERROR` to avoid throwing exceptions when your instrumented code attempts to record data when no segment is open. These er

[2018-03-16 08:06] FelixAv commented on #11
@nedjs
That worked for us! Thanks a lot!

[2018-03-17 01:24] Basel78 opened #17 "Missing AWSXRayRecorder.Handlers.System.Net;"
Hi,
I am using XRay API mentioned in this Repo, for logging Lambda Function that i built on ASPNetCore 2.0 and used httpclient to call another endpoint to get JSON result, so I wanted to follow the instruction to log the request as mentioned in **Trace out-going HTTP requests (.NET and .NET Core)** and noticed the following:

1. using AWSXRayRecorder.Handlers.System.Net; -- Is Missing although I h

[2018-03-17 01:38] Basel78 commented on #17
One more Question,
How can we run & Pass Test Project that comes with LambdaFunction when using AWSXRayRecorder object created in the functionHandler , without having the error:
`Message: Amazon.XRay.Recorder.Core.Exceptions.EntityNotAvailableException : Entity doesn't exist in AsyncLocal`

[2018-03-17 04:12] nedjs commented on #17
@Basel78 Take a look at https://github.com/aws/aws-xray-sdk-dotnet/blob/master/sdk/test/UnitTests/TraceContextTests.cs and do something similar. You probably want to something like

[code]

[2018-03-19 17:00] yogiraj07 commented on #17
Hi @Basel78 ,

Thank you for reaching out to us.

1. `AWSXRayRecorder.Handlers.System.Net` is a nuget package that needs to be install to use the functionality. Please clean the project, and it might solve the import issue.

2. We have merged pull request for `HttpClientTracingHandler` and its still yet to be released in the form of nuget package. We would soon make a release, which includes this

[2018-03-19 17:40] yogiraj07 commented on #1
Hi @sebarosales ,
We appreciate your feedback and have included this in our backlog.

Thanks,
Yogi

[2018-03-19 20:13] richardgavel opened #18 "Cannot provide my own sampling strategy"
I am trying to write my own sampling strategy, however, the AWSXRayRecorder.Instance has the LocalizedSamplingStrategy instead of mine. From looking at the code, it seems like the InitializeInstance method I am using builds a new AWSXRayRecorder based on instance I am providing, but the sampling strategy does not carry over.

[code]

[2018-03-19 20:53] yogiraj07 commented on #18
Hi @richardgavel ,

Thank you for your post.

`InitializeInstance` method populates the provided recorder with the configuration. However, this method doesn't set the provided recorder to `AWSXRayRecorder.Instance`. Hence, whenever you use AWSXRayRecorder.Instance in the later part of your code, a default new instance is created, which overrides the sampling strategy .
For reference : https://gith

[2018-03-21 01:48] yogiraj07 commented on #11
Hi @FelixAv , @nedjs ,

We have included this fix in `2.2.0-beta` release.

Please refer release details : https://github.com/aws/aws-xray-sdk-dotnet/blob/master/CHANGELOG.md

Feel free to open this issue if you have any questions.

Thanks,
Yogi

[2018-03-21 01:48] #11 closed

[2018-03-21 01:49] yogiraj07 commented on #18
Hi @richardgavel

We have included this fix in `2.2.0-beta` release.

Please refer release details : https://github.com/aws/aws-xray-sdk-dotnet/blob/master/CHANGELOG.md

Feel free to open this issue if you have any questions.

Thanks,
Yogi

[2018-03-21 01:49] #18 closed

[2018-03-21 01:50] yogiraj07 commented on #4
Hi @ljacobsson ,

We have included this feature in `2.2.0-beta` release.

Please refer release details : https://github.com/aws/aws-xray-sdk-dotnet/blob/master/CHANGELOG.md

I am closing this issue.

Thanks,
Yogi

[2018-03-21 01:50] #4 closed

[2018-03-21 02:02] yogiraj07 commented on #17
Hi @Basel78 ,

We have release version `2.2.0-beta` which includes support for `HttpClient`.
Changelog : https://github.com/aws/aws-xray-sdk-dotnet/blob/master/CHANGELOG.md
I am closing this issue. Please feel free to reopen if you have any questions.

Best,
Yogi

[2018-03-21 02:02] #17 closed

[2018-03-21 16:04] Basel78 commented on #17
Hi @yogiraj07 ,
Thank you for the update, I have upgraded XRay Packages to the latest 2.2.0 Beta and followed the code changes updated in ReadMe which make my unit test project working fine and test passed :)

Now when I deployed the code on AWS lambda and ran the configure test event with the payload, I got error as below
[code]

so the error message says : `Cannot override Facade Segment. New se

[2018-03-21 20:12] normj commented on #17
By default even in Release mode msbuild will generate pdb files which will contain the file paths at build time. If you want to disable that in your csproj file set `DebugType` equal to `None`

[code]

[2018-03-21 21:05] yogiraj07 commented on #17
Hi @Basel78,

You cannot create `segment` inside Lambda function. A `segment` is generated on your behalf by  Lambda which is known as `FacadeSegment`. Hence you see the error.

Initially, I thought you intend to run unit test on a local environment (not Lambda). So I recommended to manually create `segment` around the unit test and not the Lambda function.

Please let me know if you have question

[2018-03-22 09:24] bittercoder opened #19 "Support specifying AWS_XRAY_DAEMON_ADDRESS as hostname:port as well as ip:port"
Feature request:

Having to specify AWS_XRAY_DAEMON_ADDRESS as ip:port is often no ideal if the IP address is somewhat dynamic - it would be great if hostname:port as also supported.

[2018-03-22 09:32] bittercoder opened #20 "Make internal AWSXRayRecorder constructors public"
Currently there is a overload of `AWSXRayRecorder.InitializeInstance` which takes 2 parameters

* configuration: IConfiguration
* recorder: AWSXRayRecorder

This seems well suited to supporting custom configurations (such as supplying your own implementation or wrapper around the UDP segment emitter).

But unfortunately the useful constructor overloads of AWSXRayRecorder in this instance are marke

[2018-03-22 09:43] bittercoder opened #21 "The XRayPipelineHandler will throw a null reference exception if the client does not have a RegionEndpoint assigned."
The XRayPipelineHandler will throw a null reference exception if the client does not have a RegionEndpoint assigned.

https://github.com/aws/aws-xray-sdk-dotnet/blob/master/sdk/src/Handlers/AwsSdk/Internal/XRayPipelineHandler.cs#L300

[code]

If for some reason you have an AWS service where you are explicitly setting the clients `ServiceURL` then the region endpoint will be null - in these cases t

[2018-03-22 20:43] yogiraj07 commented on #21
Hi @bittercoder ,

Thank you for raising this issue and submitting the pull request. You can leverage annotations and metadata feature for the service URL. Please refer : https://docs.aws.amazon.com/xray/latest/devguide/xray-sdk-dotnet-segment.html

Thanks,
Yogi

[2018-03-22 21:03] yogiraj07 commented on #19
Hi @bittercoder ,

Thank you for the feedback. Can you please let us know your use case. I would take this as a feature request.

Best,
Yogi

[2018-03-22 21:07] yogiraj07 commented on #20
Hi @bittercoder ,

Thank you for raising this issue. We plan to make the SDK as modular as possible and happy to  review the pull request.

Thanks,
Yogi

[2018-03-23 20:02] bittercoder commented on #21
@yogiraj07 so if I was to add service Url to the annotations for the segment in the AWS SDK handler - is that behaviour you would be happy to accept as a pull request?

[2018-03-23 20:09] bittercoder commented on #20
The use case for the custom emitter in my case initially was for diagnosing some issues e.g. figuring out if the emitter was actually emitting metrics and confirming it was emitting to the correct address.

We also introduced a logging emitter to log the payload being emitted, this was useful during local development/testing where you might not have the daemon running, but you would to confirm you

[2018-03-23 20:12] bittercoder commented on #19
One of the simple ones is if you have x-ray daemon as a side car linked container, I would rather specify the address as "xray-daemon:2000"

But more generally I just don't want to have to specify the IP address or deal with having to role containers if the address of the x-ray daemon changes for some reason.

So I guess I'm interested in know just have hostname:port work, but ensuring that once r

[2018-03-26 17:16] yogiraj07 commented on #20
Hi @bittercoder ,

Thank you for letting us know your use case.

I am reviewing your pull request.

Bets,
Yogi

[2018-03-26 19:34] yogiraj07 commented on #19
Hi @bittercoder ,

Thanks for letting us know the use case. We take this as a feature request. Please feel free to submit a pull request, we would be happy to review it.

Best,
Yogi

[2018-04-07 11:11] tsibelman opened #25 "Is it possible to add SNS to the default whitelist ?"
It would help me to use automatic permission discovery tool,

Here is the list I had in mind.

"SimpleNotificationService": {
      "operations": {
        "AddPermission": {
          "request_parameters": [
            "TopicArn"
          ]
        },
        "ConfirmSubscription": {
          "request_parameters": [
            "TopicArn"
          ]
        },
        "CreatePlatformApplicati

[2018-04-10 02:07] mpetito opened #26 "Entity doesn't exist in CallContext"
The logical call context used to store the segment in ASP.NET / .NET Framework seems to be lost depending on the size of the request made to the application.  This results in the following exception:

Amazon.XRay.Recorder.Core.Exceptions.EntityNotAvailableException: Entity doesn't exist in CallContext
https://github.com/aws/aws-xray-sdk-dotnet/blob/b481c9a4333de3d501deb6d74ff112bd24d23456/sdk/src/

[2018-04-10 13:35] mpetito commented on #26
Yes, my workaround was similar for MVC / API using global filters: https://gist.github.com/mpetito/ec6977cb376ea70c6be3330011ca8c93

[2018-04-10 23:25] yogiraj07 commented on #26
Hi @mpetito, @Kralizek ,

Thank you for raising this limitation. While developing X-Ray handler for ASP.NET, we did find some strange behavior by the framework, where we would see value of Callcontext getting lost in a single request path. For example, when we receive exception in HTTP Modules, we did see exception being executed on another thread, which resulted in empty Callcontext.

In order to

[2018-04-11 03:26] mpetito commented on #26
Hi @yogiraj07 ,

I think that this is more than just a limitation.

1. The provided handler will not work for a majority of ASP.NET applications which accept POST requests.
2. The issue may not become apparent during testing, depending on the size of the request body.
3. By default, the case where the context is lost raises an exception that affects the execution of the request.

Minimally, the do

[2018-04-11 17:14] yogiraj07 commented on #26
Hi @mpetito ,
We will make sure in our documentation, the users are aware about this issue.

Best,
Yogi

[2018-04-14 15:41] emmekappa commented on #19
I have the same issue here

[2018-04-14 16:24] Kralizek opened #27 "Best approach for local testing of handlers"
Hi!

I'm working on a XRay handler for WCF (both on service and client side) (https://github.com/Kralizek/xray-wcf)

I've got the basics going and now it's about polishing. Currently I've been deploying my sample project to am EC2 instance but it gets annoying after a while. And it makes difficult to debug.

Is there any better approach to allow local development/testing?

[2018-04-14 17:41] emmekappa commented on #19
I'm working on a PR here https://github.com/emmekappa/aws-xray-sdk-dotnet/tree/hostname_support

[2018-04-15 11:29] bittercoder commented on #19
Great to hear your going to work on a improvement for this @emmekappa 👍

I've done something similar to this in the past which may or may not be useful to you:

[code]

It's really useful to consider both not permanently caching the resolved address so you don't have to role instances to pick up changes, and caching negative results in case their are problems resolving the hostname which can cause

[2018-04-16 16:35] emmekappa commented on #19
@bittercoder I finished and submitted the PR. I'm also handling just IPV4 addresses and the case in which the address could not be resolved, in this case I'll fallback to the default daemon address which seems the be the default fallback.

[2018-04-16 16:37] emmekappa commented on #19
@bittercoder you're right about both the DNS resolution caching issue and the DNS blocking issue, I'll try to figure out something.

[2018-04-18 12:52] emmekappa opened #29 "UdpSegmentEmitter throws Message too long"
Sometimes happens that the buffer to sent to xray deamon exceed the maximum udp packet size.

As result it throws a
`Failed to send package through socket. --> System.Net.Sockets.SocketException (0x80004005): Message too long`

[2018-04-18 17:29] awssandra commented on #29
Hi emmekappa,

We see this on very heavy segments. UPD packet size is about 65kb (IPv4), which is why you're seeing that error.
We have the concept of a streaming subsegment threshold. When a certain number of subsegments are reached, we prune your segment document of the closed subsegment trees, allowing smaller data chunks to be sent to the daemon. Right now, the .Net SDK is hardcoded to 100 sub

[2018-04-20 06:44] Kralizek commented on #27
Hi @yogiraj07

The need for a local setup is only to speed up the development and testing of this handler.

There is no need for a local setup when developing a WCF service/client consuming this package.

I will try installing the Daemon on my local machine (or maybe even a container ad hoc)

Thanks for your comment

[2018-04-20 18:03] yogiraj07 commented on #27
Hi @Kralizek ,
I am closing this issue. Please feel free to reopen if you have any questions.

Best,
Yogi

[2018-04-20 18:03] #27 closed

[2018-05-29 20:00] #25 closed

[2018-06-04 20:08] richardgavel commented on #20
I would think instead of making the internal constructors public, a better option, given the existing usage of the builder pattern (https://github.com/aws/aws-xray-sdk-dotnet/blob/master/sdk/src/Core/AwsXrayRecorderBuilder.cs), that you add a WithSegmentEmitter method on it.

[2018-06-05 16:10] joelhess opened #30 "Publish Update"
Can you please publish a 2.2.1 update to the nuget packages? I need the changes from https://github.com/aws/aws-xray-sdk-dotnet/pull/22 in order to work with the AWS IOT Sdks. I've confirmed the latest changes address my issue by grabbing/building the latest code, and injecting the updated nuget locally.

[2018-06-05 17:52] yogiraj07 commented on #30
Hi @joelhess ,
Thank you for the post. We have prioritized this task and post an update at the earliest.

Best,
Yogi

[2018-06-05 18:08] geraldbauer opened #31 "Exception: "cannot add subsegment to a completed segment.""
We are receiving an Amazon.XRay.Recorder.Core.Exceptions.EntityNotAvailableException with the message "Cannot add subsegment to a completed segment."

What we are using
.net core 2.0 MVC
installed
- AWSSDK.Core - 3.3.23
- AWSSDK.S3 - 3.3.18
- AWSXRayRecorder - 2.2.0-beta
- AWSXRayRecorder.Core - 2.2.0-beta
- AWSXRayRecorder.Handlers.AwsSdk - 2.2.0-beta

We have a NuGet package with our business lo

[2018-06-06 00:05] yogiraj07 commented on #31
Hi @geraldbauer ,
Thank you for reporting your use-case.
The reason for the above exception is the `Segment` started as a part of incoming request by the the X-Ray Middleware is closed before the `Subsegment` is started in the `analysisEngineContainer.StartAnalyze(...)`.

If you want `Subsegment` (created inside the asynchronous job) to be part of existing `Segment` (created by the middleware), yo

[2018-06-06 14:40] geraldbauer commented on #31
Hi Yogi,
Wonderful news and thank you for responding. Kind-a thought that AWS X-Ray was thread specific based upon what I saw. I will follow what is documented in https://docs.aws.amazon.com/xray/latest/devguide/xray-sdk-dotnet-subsegments.html.

This conversion is making me ponder about 1) Parallel.ForEach and 2) recursive calls. Currently we are only doing foreach looping and planning on turning

[2018-06-07 15:14] Akshayvb09 opened #32 "aws x ray entity does not exist in async local"
While executing all tests at a time aws x-ray performing weird.
Its throwing exception as "**Entity does not exist in async local**". I'm not sure but it can be due to missing traceId at AWSXRayRecorder initialization, check the code below

`public static AWSXRayRecorder XrayRecorderInstance
        {
            get
            {
                if (xrayRecorder != null)
                {

[2018-06-07 17:04] stevejgordon opened #33 "Allow AWS_XRAY_CONTEXT_MISSING to be configured via IConfiguration"
I've just started trying out this library today. One thing I found annoying with the default for AWS_XRAY_CONTEXT_MISSING to cause a runtime error. I'd like to deploy this onto existing production apps to see if it proves useful, but it's slightly riskier since if I miss any places where SDK calls, for example, are made outside of a normal ASP.NET Core request flow, it throws.

I realise I can set

[2018-06-07 17:31] stevejgordon opened #34 "Support for DB calls via Entity Framework Core"
Do you have any plans to add an Entity Framework Core handler? At the moment it feels like a big piece of the puzzle is missing for most of my APIs.

I have been testing the SDK / X-Ray for the first time today. I have just managed to hack together a basic piece of code based on what your SQL handler does. However, I'm using the DiagnosticListener to grab the EF core diagnostic events needed to st

[2018-06-07 17:39] normj commented on #34
Hey Steve, the X-Ray SDK relies on AsyncLocal under the covers to keep the segments separated per invocation request. There is no public roadmap but I agree Entity Framework and Entity Framework Core are important handlers we need.

[2018-06-07 17:46] stevejgordon commented on #34
I'm just looking at that code now! I guess my question is, if these two things are triggered within the same async flow (say an ASP.NET Core request), how would the endsubsegment know which is actually being closed? Or do they have a unique id there?

I'll probably do best by reading the code properly!

I'm happy to put a rough PR in at some stage with the bits I've got so far. Even if it's a stra

[2018-06-07 17:57] normj commented on #34
AsyncLocal does a lot of magical stuff storing things in thread local storage. At a high level it lets you treat the object it is holding as a singleton in the scope of a request.

[2018-06-07 18:04] yogiraj07 commented on #33
Hi @stevejgordon ,
Thank you for your feedback. This is a good suggestion and I would take this as a feature request. As a side note, another way of configuring `AWS_XRAY_CONTEXT_MISSING` is by creating recorder instance through builder class and using `WithContextMissingStrategy ()`. Reference : https://github.com/aws/aws-xray-sdk-dotnet/blob/master/sdk/src/Core/AwsXrayRecorderBuilder.cs#L151.

W

[2018-06-07 18:10] stevejgordon commented on #34
Yeah, AsyncLocal is a bit magic. My little correlation ID library leans on it too. My query though is two SDK calls occurring within that single request scope at roughly the same time. Or in the case of the EF example, if two DB calls start a subsegment and fire at the same time within that single requests cope, how is endsubsgement for each on them closing the correct one to end the timing on for

[2018-06-07 18:14] stevejgordon commented on #33
Thanks Yogi. If time permits I may well look at getting you a PR for this one. I'm registering with the UseXray IApplicationBuilder extension in this case but I am also looking to add this to new Generic Host based console app services too.

Perhaps either an overload for UseXray or a fluent style syntax would be suitable?

[2018-06-07 19:18] yogiraj07 commented on #34
Hi @stevejgordon ,

The linking of a segment and a subsegment is made using `Parent`: https://github.com/aws/aws-xray-sdk-dotnet/blob/master/sdk/src/Core/Internal/Entities/Entity.cs#L474

If 2 DDB calls occur at the same time, they would be on different logical thread (considering the same time). The segment would be copied on individual DDB call request and the X-Ray SDK middleware will create an

[2018-06-07 19:27] yogiraj07 commented on #33
Hi @stevejgordon ,
I think we can go with `UseXRay` convention, however, I would welcome your suggestion.

Best,
Yogi

[2018-06-07 19:41] yogiraj07 commented on #32
Hi @Akshayvb09 ,
`Amazon.XRay.Recorder.Handlers.AwsSdk.AWSSDKHandler.RegisterXRayForAllServices();` registers all AWS SDK clients you create in the application with X-Ray SDK.
This middleware creates `Subsegment` for each AWS SDK call. When a `Subsegment`  is created, the SDK expects `Segment` is already created before this call and present in the `TraceContext`.

The above exception says that X-R

[2018-06-07 20:45] yogiraj07 commented on #31
Hi @geraldbauer ,
We have a test on `Parallel` which would help to get context: https://github.com/aws/aws-xray-sdk-dotnet/blob/master/sdk/test/UnitTests/AWSXRayRecorderTests.cs#L163

When you use `Parallel.ForEach`, current underlying `Segment/Subsegment` gets copied to new logical thread spawned by `Parallel`. `Subsegment` created inside `Parallel.ForEach` would be processed independently in its

[2018-06-07 20:47] yogiraj07 commented on #20
Hi @richardgavel ,
I agree with your suggestion and would make necessary changes to builder class. Thank you for your feedback.

[2018-06-08 19:47] geraldbauer commented on #31
The recursive call follows this flow:
BeginProcess(...)
{
var results = SingleWork(...);
If (moreWork) results = DoMoreWork(...);

return results;
}

DoMoreWork(...)
{
Parrellel.ForEach
{
results.AddRange(BeginProcess(...));
}

return results;
}

[2018-06-11 19:20] yogiraj07 commented on #30
Hi @joelhess,
We have made `2.2.1-beta` release. : https://github.com/aws/aws-xray-sdk-dotnet/blob/master/CHANGELOG.md

Thanks,
Yogi

[2018-06-11 19:20] #30 closed

[2018-06-11 19:23] yogiraj07 commented on #21
Hello @bittercoder ,
We have made `2.2.1-beta` release. : [Changelog](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/CHANGELOG.md), which includes your PR. Closing this issue. Please feel free to reopen if you have any questions.

Thanks,
Yogi

[2018-06-11 19:23] #21 closed

[2018-06-12 17:44] yogiraj07 commented on #32
Hi @Akshayvb09 ,
Feel free to reopen this issue if you have any questions.

Best,
Yogi

[2018-06-12 17:44] #32 closed

[2018-06-12 18:06] stevejgordon commented on #33
@yogiraj07 I took a quick look at this. From an early look, the smallest change here feels like we could add a property to XRayOptions which we can parse from IConfiguration in GetXRayOptions. Based on that value we can configure call WithContextMissingStrategy appropriately.

Does that sound reasonable?

One contributing question. I've not done a lot with multi-targeted libraries. I can see you a

[2018-06-12 20:29] yogiraj07 commented on #33
Hi @stevejgordon ,
Yes, we can add a property to `XRayOptions `, so we can use in `WithContextMissingStrategy()`.
We do suppress few warnings as a result of multi-target library in `Release` and `Debug` configuration [Link](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/sdk/src/Core/AWSXRayRecorder.Core.csproj#L24). However, apart from that, I haven't had any specific VS setup (though usin

[2018-06-12 20:30] yogiraj07 commented on #31
Hi @geraldbauer ,
As per above code, here are some initial thoughts for integration:
[code]

The result of this would be:
1. If there was no Segment in the `TraceContext`, a `Segment` would be created in the first iteration and `Subsegment` would be created for each recursive call.

2. If `Segment` was already present in the `TraceContext`, `Subsegment` would be created for all iterations.

3. You

[2018-06-13 17:33] stevejgordon commented on #33
It's mostly symbols not being resolved etc:
![image](https://user-images.githubusercontent.com/3669103/41367906-49fe54cc-6f38-11e8-9706-f7da9c5eafdd.png)
I'm able to build though.

[2018-06-13 21:09] yogiraj07 commented on #33
Hi @stevejgordon ,
Unfortunately, I haven't encountered such problem. I would suggest cleaning `.nuget` cache folder from your system, restarting VS, cleaning and rebuilding the project.

For reference: Current VS version I am using: `15.7.2`

[2018-06-13 21:19] normj commented on #33
@stevejgordon That is weird you seeing those error in VS. What do the drop down boxes on top of the editor say? I'm curious if for some reason it is not saying netstandard2.0. I have seen where VS gets confused and just calls the files miscellaneous files.

![image](https://user-images.githubusercontent.com/1653751/41378652-90a8bd82-6f14-11e8-87e5-4360588272be.png)

[2018-06-15 07:10] stevejgordon commented on #33
Aiming to try this on my work PC at lunchtime which will be a fresh attempt. Failing that I'll try the clean etc at home this weekend and see where I get to.

[2018-06-17 08:51] stevejgordon commented on #33
@normj / @yogiraj07 - Still no luck at my end. Not sure if I'm doing something wrong but even after cleaning everything it's not picking up the correct files. For example, in VS I can code navigate to the AwsXrayRecorder.netcore.cs file, but it's not showing in solution explorer. I've added it and made some parts of the code happy but now get compilation errors. I'll keep trying a little longer bu

[2018-06-17 08:52] stevejgordon commented on #33
@normj When in the .netcore.cs files I do see netstandard 2.0

[2018-06-17 09:08] stevejgordon commented on #33
Actually, not sure exactly what I've changed but managed to get it building and debugging with a sample app so I may be getting somewhere!

[2018-06-19 18:07] yogiraj07 commented on #20
We have made `2.2.1-beta release` : https://github.com/aws/aws-xray-sdk-dotnet/blob/master/CHANGELOG.md , that includes this support.

Thanks,
Yogi

[2018-06-19 18:07] #20 closed

[2018-06-21 01:31] blebaron opened #36 "Support for asp.net core targeting full framework"
I'm working on an asp.net project that is targeting the full .net framework. I get the following error when attempting to use the asp.net core XRay library:

[code]

I haven't dug in to try and find where the issue is but I have created a simple example that illustrates the issue here: https://github.com/blebaron/AWSXRayExample

I created the example by using the VS 2017 asp.net core api new proje

[2018-06-22 01:53] yogiraj07 commented on #36
Hi @blebaron ,

The reason for your exceptions is, you are using `ASP.NETCore 2.0` X-Ray package for `net461` framework.
`IsLambda()` is present only for `netcore2.0` framework. As a result, X-Ray SDK doesn't find this method on `net461` framework.
Reference: https://github.com/aws/aws-xray-sdk-dotnet/blob/master/sdk/src/Handlers/AspNetCore/Internal/AWSXRayMiddleware.cs#L225

I suggest to use ASP.

[2018-06-29 17:03] rudygt opened #37 "JsonSegmentMarshaller ctor throws System.IndexOutOfRangeException"
Hi, I'm getting this issue running xunit integration tests in parallel

![image](https://user-images.githubusercontent.com/1120692/42104634-96845aea-7b8a-11e8-9d99-18ea73bd6112.png)

after a quick google search seems like the exception is being thrown because Dictionary is not thread safe on add.

looking at the code seems like the crashing one is in this call

https://github.com/aws/aws-xray-sdk-

[2018-07-02 17:36] #33 closed

[2018-07-02 21:50] blebaron commented on #36
Sorry for the delayed response. I got this working by manually pulling out the .net core assemblies from the nuget packages and referencing them directly and then forgot that I had logged an issue.

I'm using the asp.net core MVC constructs (startup, kestrel, etc...) inside of a full framework project. That's why I can't use the `net461` package. The example I linked to illustrates exactly how I h

[2018-07-02 21:53] yogiraj07 commented on #36
Hi @blebaron ,
We appreciate your response.
Closing this issue.

Best,
Yogi

[2018-07-02 21:53] #36 closed

[2018-07-03 00:29] yogiraj07 commented on #37
Hi @rudygt ,
Thank you for the post.
Could you please help me to reproduce the issue (eg: link to integration tests integrated using `xUnit`)
Also can you please let me know your motivation behind using `xUnit` test framework instead of the provided `MSTest` framework?

Thanks,
Yogi

[2018-07-03 00:36] rudygt commented on #37
Hi @yogiraj07 , sorry if I didn't explain myself,

I'm using the xray recorder on a project of mine, in that project I'm using aspnetcore, I'm using xunit to run my integration tests and to speed things up I execute them with the parallel setting enabled.

every now and then I see this exception thrown.

I will try to create an isolated test to reproduce this issue so you can have a better idea.

[2018-07-31 09:52] mbp commented on #31
The exception `Cannot add subsegment to a completed segment.` is quite problematic when you add AWS X-Ray .NET to an existing application with a lot of "background" jobs.

In my concrete scenario, the application has many background jobs, ensuring internal caches are updated. Since these background jobs are not based on an http request, they all fail with that exception. The code running the backg

[2018-08-14 23:53] yogiraj07 commented on #31
Hi @mbp ,
Apologies for delay in response.

You can log error messages received by X-Ray SDK by setting environment variable `AWS_XRAY_CONTEXT_MISSING` to  `LOG_ERROR` for logging errors else the default behavior is to throw runtime exceptions for context missing. Reference (check `Environment Variables` sections): [Link](https://docs.aws.amazon.com/xray/latest/devguide/xray-sdk-dotnet-configurati

[2018-08-20 20:18] dr3s commented on #36
I'm not sure why this was closed nor how @blebaron worked around the issue.  Targeting kestrel and asp.net core is recommended for .net framework developers.  How can xray instrument asp.net core on this platform?

[2018-08-20 20:31] dr3s opened #39 "Can't target asp.net core on .net framework"
According to this issue https://github.com/aws/aws-xray-sdk-dotnet/issues/36 , it is not possible to target asp.net core on .net framework.  Since this is the recommended stack for new .net framework development, I think it should be supported.

[2018-08-21 22:49] yogiraj07 commented on #39
Hi @dr3s ,
Thank you for opening issue. I added this item to feature request. At the moment, I would need to figure out how to target  X-Ray ASP.NET Core handler : [Link](https://www.nuget.org/packages/AWSXRayRecorder.Handlers.AspNetCore/2.2.1-beta) on `.NET platform` as it currently only supports `.NET Core platform`.

In the meantime, we welcome you to submit a PR, if interested.
Thanks,
Yogi

[2018-08-29 08:00] mbp commented on #31
Thank you for the info on the environment variable, I somehow missed that.

Basically a request will add to some kind of in-memory data structure, and the background job will be a timer which processes the in-memory data structure and as a side-effect send some requests to AWS.

Thanks for the guidance on the environment variable.

[2018-08-29 17:55] yogiraj07 commented on #31
Hi @mbp ,
As a part of `2.3.0-beta` release we also have added support for setting `AWS_XRAY_CONTEXT_MISSING` using configuration file for .NET and .NET Core. Please refer : https://github.com/aws/aws-xray-sdk-dotnet/blob/master/CHANGELOG.md

I am closing this issue. Please feel free to reopen if you have any questions.

Best,
Yogi

[2018-08-29 17:55] #31 closed

[2018-10-23 15:18] MrLarssonJr opened #41 "Path in tests assume Windows path separators"
Found `private static String _path = @"JSONs\AWSRequestInfo.json";` in `./sdk/test/UnitTests/AWSSdkTracingHandlerTests.cs`.

This seems to prevent me to run the tests on macOS. When I run the tests I get:
[code]

[2018-11-02 04:31] yogiraj07 opened #43 "HybridContext Implementation for ASP.NET Framework"
# Problem
For X-Ray .NET SDK version <= `2.3.1-beta`,  ASP.NET XRay middleware used`TraceContext` that implemented [CallContext](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.remoting.messaging.callcontext?view=netframework-4.5) as an underlying data structure. This `CallContext` stored `Segment`/`Subsegment` created for the given lifecycle of incoming HTTP request.  Value (Segment/Su

[2018-11-02 04:35] yogiraj07 commented on #26
Hi @mpetito , @Kralizek ,
We have made a release `2.4.0-beta` which solves this issue. Please refer [Changelog](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/CHANGELOG.md). I have also analyzed the issue [here](https://github.com/aws/aws-xray-sdk-dotnet/issues/43) . Please feel free to try new release and let us know if this solves the issue.

Thanks for the patience.

Yogi

[2018-11-02 22:41] mpetito commented on #43
Why aren't you using the dependency injection container in ASP.NET Core?  It seems like a poor design choice to use the "ambient context" approach when ASP.NET Core and all of its related modules provide DI support that could better suppor this use-case.

[2018-11-05 19:57] anandmukundan opened #44 "Question: Lambda "Enable active tracing""
Hi,

You can enable/disable active tracing at a Lambda function level, using the console. Is there a way to find out what is the option that has been set during Lambda execution? I have some additional Xray tracing code, which I do not want to run when this option is disabled in the console as then the default segment is not created by the Lambda function.

If I look at the IsTracingDisabled Funct

[2018-11-07 11:19] jazztong opened #45 "First segment in XRay dashboard show wrong client_ip"
When I used XRay SDK in non WAF environment, it showed the correct client_ip in XRay tracing dashboard, but when it tracing in the production environment in WAF integrate, its display the WAF IP in client_ip instead of true client IP, in raw data of tracing, the first segment display WAF IP. but the subsegment displays the correct client IP.

[2018-11-16 20:22] travisgosselin commented on #6
Using DiagnosticSource here would be a large improvement to two key areas of XRay:

1) Usage of DiagnosticSources for System.Net.Http would allow the easy capture of EVERY Http request leaving the application, without having to manually assign an HttpMessageHandler to any component. This would automatically cover most scenarios of HTTP outbound communication requiring the consumer to do nothing be

[2018-11-27 20:09] yogiraj07 commented on #6
Hi @travisgosselin ,
Thank you for presenting the approaches. I will take a look at it soon and also welcome you to submit PR.

Best,
Yogi

[2018-11-29 00:33] awssandra commented on #44
Hi anandmukundan,

Sorry for the extended delay. Lambda does not give the SDK any notion of wether the Lambda function is in active or passthrough mode. Feel free to open a discussion on the Lambda forums. I'm sure they would be interested in your usecase.

Thanks!
Sandra

[2018-12-03 20:08] yogiraj07 commented on #41
Hi @MrLarssonJr ,
Thank you for PR. I have merged it.

[2018-12-03 20:08] #41 closed

[2018-12-05 08:37] kisskumam opened #46 "AWSXRayASPNET not found"
Hi,

I'm trying to implement X-Ray into my asp.net application. But, I'm sticking on the initial step by register X-Ray on Global.aspx.cs

 AWSXRayASPNET.RegisterXRay(this, "MyApp");

I have already download the package from nuget. But, the application always alert the "does not exist" message. How can I resolve this?

Thanks

[2018-12-05 19:16] awssandra commented on #45
Hi jazztong,

Sorry for the late reply. Can you post a raw snippet showing your resultant trace? Also, how are you utilizing WAF in your AWS stack?

[2018-12-07 07:15] Akshayvb09 opened #47 "aws-lambda layer feature"
@normj aws has recently launched lambda layers to share common functionality among various lambdas, which will really help to reduce code repetition. But I'm not finding any way to upload my functionality as a Lambda layer in **.net core**.

**Please share the steps to reference and upload lambda layer and way to attach it to existing lambda.**

[https://aws.amazon.com/blogs/aws/new-for-aws-lambda

[2018-12-10 19:03] yogiraj07 commented on #43
Hi @mpetito ,
The above issue and approach of hybrid context is specific to ASP.NET framework and not ASP.NET Core framework. The ASP.NET Core uses `AsyncLocal` and X-Ray [middleware](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/sdk/src/Handlers/AspNetCore/Internal/AWSXRayMiddleware.cs).

Please let me know if I miss something.

Thanks,
Yogi

[2018-12-12 04:02] jaredcnance commented on #39
ASP.Net Core will only run on .Net Core after v3. See [this announcement](https://github.com/aspnet/Announcements/issues/324).

[2018-12-13 05:01] jaredcnance opened #50 "AWS_XRAY_CONTEXT_MISSING should honor UseRuntimeErrors"
It seems odd to me that I can set `UseRuntimeErrors=false` in my config file, but I also have to set `AWS_XRAY_CONTEXT_MISSING=LOG_ERROR` in the environment to fully prevent runtime errors. It's quite common for an application to perform database operations on startup, outside of a request scope. Currently, this would cause the app to crash on start.

[2018-12-13 05:07] jaredcnance commented on #50
Turns out the problem was that database operations were occurring prior to calling `app.UseXRay/2`. Adding `AWSXRayRecorder.InitializeInstance(configuration)` immediately after loading the configuration fixed it for me.

[2018-12-13 05:07] #50 closed

[2018-12-17 08:03] omatrot opened #51 "MonoAndroid support"
I'd like to have MonoAndroid 9 support in order to use the SDK in my Xamarin App.

Could not install package 'AWSXRayRecorder.Core 1.1.2'. You are trying to install this package into a project that targets 'MonoAndroid,Version=v9.0', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.

[2018-12-18 03:41] jazztong commented on #45
![image](https://user-images.githubusercontent.com/15000126/50130499-e2927d80-02b8-11e9-901a-5189ed617472.png)
![image](https://user-images.githubusercontent.com/15000126/50130605-546ac700-02b9-11e9-8f3d-883c86f4eb2e.png)

Hi awssandra,

WAF was setup as first protection for the request flow, 47.91.54.141 was the WAF IP, but the actual clientIp is 111.65.58.217, as forward IP list, there are multi

[2018-12-18 18:02] yogiraj07 commented on #51
Hi @omatrot ,
I will take this as a feature request. Please stay tuned for the update.

Thanks,
Yogi

[2018-12-18 18:10] yogiraj07 commented on #45
Hi @jazztong ,
When a request is forwarded from WAF, the X-Ray SDK parses `X-Forwarded-For` header and gets source ip by design. Please refer [documentation](https://docs.aws.amazon.com/xray/latest/devguide/xray-sdk-dotnet-messagehandler.html) : section `Forwarded Requests`.

Hence, you see WAF client ip on `Segment`.

If you would like to record true client ip, you can add [Annotation/Metadata](h

[2018-12-31 00:39] jaredcnance commented on #19
This is essential for anyone running Docker on ElasticBeanstalk—or more generally, linked ECS containers.

[2019-01-07 18:31] rschiefer opened #52 "XRay throws exceptions when running integration tests which create additional Hosts"
I can run any of my integration tests (based on nUnit) individually and they succeed.  But when I run them all I receive the following error on further tests after a new Host is built by one of the tests:

I'm assuming this is because XRay data is stored statically and assumes only one Host will be created.

Any suggestions to work around this?

[2019-01-08 01:11] yogiraj07 commented on #52
Hi @rschiefer ,

X-Ray data is stored in [AsyncLocal](https://docs.microsoft.com/en-us/dotnet/api/system.threading.asynclocal-1?view=netcore-2.0) for .NET Core platform, which is thread based.

The reason for this exception is Segment/Subsegment might have already ended before performing any operation on the recorder instance.

1. For clarification, do you see this exception from the integration t

[2019-02-05 20:09] yogiraj07 commented on #19
@bittercoder ,
We have included this feature in `2.5.0` release. Please refer [Changelog](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/CHANGELOG.md) for more details.

Thanks,
Yogi

[2019-02-05 20:09] #19 closed

[2019-02-05 20:11] yogiraj07 commented on #8
Hi @PaulDMendoza ,
This feature has been release in `2.5.0`. Please refer [Changelog](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/CHANGELOG.md).

Thanks,
Yogi

[2019-02-05 20:11] #8 closed

[2019-02-05 20:12] yogiraj07 commented on #45
Hi @jazztong ,
Please feel free to reopen this issue if you have any questions.

Thanks,
Yogi

[2019-02-05 20:12] #45 closed

[2019-02-05 20:44] #43 closed

[2019-02-05 21:31] #44 closed

[2019-02-05 21:32] yogiraj07 commented on #52
Hi @rschiefer ,
Please feel free to re-open this issue if you need help.

[2019-02-05 21:32] #52 closed

[2019-02-11 17:35] bjorg opened #54 "Optimize dependencies for RegisterXRayForAllServices()"
I added these two lines to my `.csproj` file so I could invoke `AWSSDKHandler.RegisterXRayForAllServices()`:
[code]

It resulted in a surprising amount of dependencies being pulled in
[code]

Maybe the ASP.NET Core dependencies could be omitted by moving them to a specialized package?

[2019-02-12 00:12] yogiraj07 commented on #54
Hi @bjorg ,
AWSXRayRecordeCore package depends on [Microsoft.AspNetCore.Http](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/sdk/src/Core/AWSXRayRecorder.Core.csproj#L47) for the purpose of [SegmentNamingStrategy](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/sdk/src/Core/Strategies/DynamicSegmentNamingStrategy.cs#L135). All X-Ray packages depend on this packages for operations re

[2019-02-12 09:02] bjorg commented on #54
My concern is simply about minimizing the size of the required packages. This dependency brings in a lot of additional code, as you can see, for non-ASP.NET Core functions. I surprised me when I saw this and thought it may have been unintentional.

[2019-02-12 17:09] yogiraj07 commented on #54
Hi @bjorg ,
Sure . I understand your point. However, the [dependencies](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/sdk/src/Core/AWSXRayRecorder.Core.csproj#L45) for AWSXRayRecorderCore package are required for NETCore platform to provide core functionalities on `AWSXRayRecorder` instance. As per above explanation, [Microsoft.AspNetCore.Http](https://github.com/aws/aws-xray-sdk-dotnet/b

[2019-02-12 17:15] yogiraj07 commented on #39
Hi @dr3s ,

Considering the support won't be available in [ASP.NET Core 3.0](https://github.com/aspnet/Announcements/issues/324), we currently don't plan to work on this feature.

Thanks @jaredcnance  for the information.

Please feel free to submit PR specifically for ASP.NET Core 2.0. I am happy to review it. Closing this issue for now.

[2019-02-12 17:15] #39 closed

[2019-02-12 20:07] bjorg commented on #54
@yogiraj07 Understood. Just wanted to raise awareness in case it was unintentional.

[2019-02-12 20:07] #54 closed

[2019-02-13 05:02] normj commented on #54
Actually I think the big problem is the AWSSDK.Core targets netstandard1.3 which brings in unnecessary dependency when combined with a netstandard2.0 library like the XRay SDK.

We just fixed this in the Amazon Lambda NuGet packages. We are planning on doing the same with the AWSSDK NuGet packages soon as well. Once we do that we should bump the version of the SDK XRay depends on.

[2019-02-15 20:31] jaredcnance opened #55 "SQL Errors Not Recorded Correctly"
When an error occurs it is displayed as a different service named "remote" even though it is actually the same database. I believe this is because the SQL information is not collected until after the call is executed. From what I can tell, there is no reason this can't be collected before the call. Additionally, we may be able to collect more information from the SQL Exception if we catch it.

htt

[2019-02-19 02:07] djluck opened #56 "Lambda x-ray trace missing request information"
When capturing X-Ray trace information for my ASP.NET core 2.1 WebAPI application, request information is missing (e.g. url, user agent, etc):

![image](https://user-images.githubusercontent.com/1540536/52985133-7e21a500-3446-11e9-8be4-d1e1c2b91b14.png)

Looking at the raw JSON of a trace, it seems there are two subsegments, one for the request and one for the response (sensitive information has b

[2019-02-19 04:39] djluck opened #57 "Entity doesn't exist in AsyncLocal exception when X-Ray tracing disabled"
Hi there,

When calling `GetAsyncResponseTraced`, I get the following exception:
[code]

It seems that `RequestUtil.ProcessRequest` is attempting to access `AWSXRayRecorder.Instance.TraceContext.GetEntity` even though I have disabled x-ray tracing via my configuration (debugging my application confirms x-ray tracing is disabled). This seems like a bug to me- I wouldn't expect these instrumented me

[2019-02-25 22:17] chanchiem commented on #56
Hey,

It looks like the request information is propagated down to the subsegment with the ID "98262d52ae5e1959". So far everything seems to look valid.

I believe the reason why it's not showing up in the console is because your endpoint is not being traced. If you're using API gateway to invoke the Lambda method, I would recommend enabling tracing on your endpoint to ensure that the URL informati

[2019-02-25 23:48] djluck commented on #56
@chanchiem thank you, that indeed fixed the issue! I thought I just had to enable tracing on the lambda, not just Api gateway- thanks for your help.

[2019-02-25 23:48] #56 closed

[2019-02-26 01:51] yogiraj07 commented on #57
Hi @djluck ,
Thanks for reporting the issue. I believe this [code](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/sdk/src/Handlers/System.Net/Utils/RequestUtil.cs#L69) is causing the issue. It should be part of above if block. I would fix it soon.

A PR is also welcomed.

[2019-02-26 01:55] djluck commented on #57
I believe you are right @yogiraj07, I can put together a simple PR as I believe the fix will be just moving the referenced line inside the block that checks if X-ray is enabled.

[2019-02-27 17:25] yogiraj07 commented on #55
Hi @jaredcnance ,
Can you explain a bit more. If these 2 calls are to same database, I had expect 2 subsegments generating same subsegment [name](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/sdk/src/Handlers/SqlServer/TraceableSqlCommand.netstandard.cs#L423). Any exception thrown is recorded on the [Subsegment](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/sdk/src/Handlers/SqlSe

[2019-03-03 08:15] jrlang1 commented on #57
I am having the same bug with TraceableSqlCommand. Should I open a new issue

[2019-03-04 20:22] yogiraj07 commented on #57
@jrlang1 , please feel free to open a separate issue. I will verify and do necessary changes. A PR is also welcomed. Thanks for posting the issue.

[2019-03-12 07:19] fodonnel opened #59 "Calling AddMetadata twice with the same key should overwrites previously recorded values"
According to the documentation (https://docs.aws.amazon.com/xray/latest/devguide/xray-sdk-dotnet-segment.html#xray-sdk-dotnet-segment-metadata), Calling AddMetadata twice with the same key should overwrites previously recorded values.

Currently the SDK throws an exception if you try to override the Metadata

[2019-03-13 15:02] sergedomk opened #61 "Add option to register XRay manifest from embedded resource"
Version: 2.5.0 (issue still exists on master)

I'm attempting to create a NuGet package for internal use that takes care of some of the XRay setup we are adding to a number of applications/services.

One of the requirements is adding some Secrets Manager calls to the whitelist. In fact, it was the primary reason for creating an internal library. That, and a DB profiler that worked on our PostgreSQ

[2019-03-13 20:42] yogiraj07 commented on #61
Hi @sergedomk ,
Thank you for explaining the use case.
I feel going with generic approach and adding a new method on `RegisterXRayManifest(string manifestName)` in this [class](https://github.com/aws/aws-xray-sdk-dotnet/blob/8053d17f191d40cbabb18b4cb20b6d6ff6cfb44f/sdk/src/Handlers/AwsSdk/AWSSDKHandler.cs#L63) will help.

I think we need to use [GetManifestResourceStream](https://docs.microsoft.co

[2019-03-14 22:04] #59 closed

[2019-03-15 14:39] sergedomk commented on #61
@yogiraj07 ,

Just to make sure I understand, I'm going to attempt to illustrate the approach I'm going to take. If it doesn't match with your thinking, I'd appreciate your feedback.

In [AWSSDKHandler.cs](https://github.com/aws/aws-xray-sdk-dotnet/blob/8053d17f191d40cbabb18b4cb20b6d6ff6cfb44f/sdk/src/Handlers/AwsSdk/AWSSDKHandler.cs#L63), I would add:

`public static void RegisterXRayManifest(Str

[2019-03-15 18:52] yogiraj07 commented on #61
@sergedomk ,
I think above logic is correct. We can have `XRayPipelineHandler` instance member on `_customizer` class. We can also add unit tests for the same.

Can you specify what exact error you are getting for unit tests?

I have netcore 2.0 installed and I run `dotnet test` command inside both unit and integration tests folder. This runs tests against net45 and netcore 2.0 platform. For integ

[2019-03-21 12:21] mbp commented on #57
Would be nice to get this fixed (new version on nuget). Impossible for us to use the library when we cannot ignore runtime errors.

[2019-03-21 16:08] yogiraj07 commented on #57
@mbp, we are planning for a release soon. I will prioritize this release. Please stay tuned. On the side note, can you help me explain your use case ? What difficulties are you facing?

Thanks for patience,
Yogi

[2019-03-21 16:16] mbp commented on #57
@yogiraj07 as part of ASP.NET Core application, we have added xray tracing. This ASP.NET Core application has some background processes (some code coming from other libraries), which we cannot change easily, so we need to set AWS_XRAY_CONTEXT_MISSING  = LOG_ERROR, which is not respected. We get exception from the same method which is mentioned in this issue (RequestUtil.ProcessRequest)

[2019-03-22 08:07] mbp opened #64 "NullReferenceException in PopulateRequestAttributes"
In ASP.NET Core (2.2, but earlier versions also apply), you can get a NullReferenceException for requests that do not contain the host header:

[code]

Related issue: https://github.com/aspnet/AspNetCore/issues/2718

This can be solved by implementing your own GetDisplayUrl variant, which does the null check. You can basically just copy the one which will be used in .NET Core 3.0: https://github.c

[2019-03-22 18:24] yogiraj07 commented on #64
Hi @mbp ,
From the error stack, it looks like the issue is [here](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/sdk/src/Handlers/AspNetCore/Internal/AWSXRayMiddleware.cs#L278). Thank you for the detail analysis.

It seems, for .NET Core, we need to implement our own logic (null safe) to get URL from the incoming request.

I will look into this soon. A PR is also welcomed and would be happ

[2019-03-30 01:49] yogiraj07 commented on #57
@jrlang1 , I am unable to reproduce this issue for `TraceSqlCommand`. Please open a separate issue and let me know more details about the issue you are facing and how to reproduce it locally.

[2019-04-08 23:31] yogiraj07 commented on #64
Hi @mbp ,
Can you help me in reproducing this issue?
I tried spinning up ASP.NET Core 2.2 app locally, instrumented with X-Ray and curled the endpoint with following command:
`curl -v --http1.0 -H "Host:" <address>`

However, the server doesn't accept request with null host value and returns following response:

[code]

As a result, the request never reached the `GetDisplayUrl` code path of the X-

[2019-04-10 13:03] mbp commented on #64
I believe you are getting that error page from IIS Express because it will only listen for requests for hostname = localhost

When you have created ASP.NET Core Web Application in Visual Studio, there is a dropdown in where you can change it from "IIS Express" to "WebApplication", so it runs directly with Kestrel instead of via IIS Express

![image](https://user-images.githubusercontent.com/77322/

[2019-04-10 18:09] jaybyrrd opened #67 "AwsXrayRecoroder trying to modify a non-concurrent collection without exclusive access?"
Hi there I can't really provide code snippets for the project, but the context is that we are simply trying to call AWSXrayRecorder.Instance.BeginSubsegment("some name"); inside of a web api and it throws the following exception:

[code]

This is happening from inside a dependency injected class, so it would follow the following pattern (where everything is scoped as far as DI goes)
Controller -->

[2019-04-10 22:48] yogiraj07 commented on #67
Hi @jaybyrrd ,
Thanks for posting the issue. From the error stack it's hard to understand what is happening.

1. What is the framework you are using? `.NET45` or `.NET Core`?
2. For the flow `Controller --> Provider --> ProviderWithXraySubsegment` can you clarify a bit? A request goes to controller -> then a provider (is this DI ?) -> then ProviderWithXraySubsegment (is this DI?) ? Am I correct? I

[2019-04-11 12:36] jaybyrrd commented on #67
Hi there,

1. .NET Core
2. All classes are dependency injected. Controller -> Scoped Dependency Injected Class -> Scoped Dependency Injected Data Layer. Per scope, the behavior is relatively synchronous, but there is a chance that multiple threads executing the same logic are running concurrently for other requests.
3. I am trying to work on it now in terms of isolating the issue. It only breaks s

[2019-04-11 12:49] jaybyrrd commented on #67
Two Stacktraces with line numbers that I just managed to pull:

[code]

Which results from a call to:
[code]

There is another stacktrace I know I have seen I am trying to reproduce

[2019-04-11 14:46] jaybyrrd commented on #67
I have run all the tests that caught this exception in our software as well as our integration tests on the deployed API with this version of the software and I can no longer reproduce the initial issue I was posting about.

I do have concerns about whether or not I have introduced a lock that is actually safe since this change was quick and made to one place with only slight consideration to over

[2019-04-11 23:51] yogiraj07 commented on #64
Hi @mbp ,
 I could reproduce the issue locally. I wanted to check with Net Core team whether they are planning to fix the issue in 2.0 and will have same behavior as NET Core 3.0. I have commented on the [issue](https://github.com/aspnet/AspNetCore/issues/2718).

I would try to avoid copy pasting code at the moment and will wait for the reply on the other thread. I have also pointed out 2 options

[2019-04-12 00:24] yogiraj07 commented on #67
Hi @jaybyrrd ,
Thanks for the PR. Allow me some time to understand the effect of adding lock in the hot code path. I will post an update soon. I greatly appreciate your efforts.

[2019-04-12 09:36] okubiak opened #69 "Entity doesn't exist in AsyncLocal exception"
Hi,

I'm currently working with ASP.NET Core 2.1 and AWSXRayRecorder 2.5.0.
I think that something is missing (at least a better exception) about using aws services outside a http request.

Here is a quick sample to reproduce the issue:

[code]
When using RegisterXRayForAllServices(), from my point of view, something is missing when using a service without adding BeginSegment() and EndSegment() ar

[2019-04-12 11:12] tobymiller1 commented on #57
@jrlang1 Is there likely to to be a release (even prerelease) soon? We're also struggling, as we can't debug locally with calls to live aws.

[2019-04-12 13:00] jaybyrrd commented on #69
Hi there, you need to begin a Segment before you can start tracing subsegments (I believe that is your issue). So before you call Test(), call

[code]
After that you will need to call

[code]

That's my suspicion in terms of the problem you are facing. Assuming you are running an ASP.NET Application, you will not need to start and end segments manually on any of your controllers/endpoints as the U

[2019-04-12 14:32] okubiak commented on #69
Yes, sorry if I wasn't clear, but as I said I know why this sample is crashing. :)
But do we really want to do that?
Maybe I don't want to trace this call (for any reasons or because the S3 call is something done in an external library).
ASP.NET app are not only controllers app and aws services can be called outside of tracked http requests.
Using this RegisterXRay require to add lot of Segments (

[2019-04-12 14:38] jaybyrrd commented on #69
Sorry, I jumped to how to fix it. That's on me.

So I think the premise is that the s3 or service call isn't a full segment on its own, it is a subsegment, and so the expectation is that in your console app you determine the logic that dictates the beginning and end of the parent segment and the aws service providers adopt that.

If you aren't dictating the beginning and end of segments, then you

[2019-04-12 15:34] jaybyrrd commented on #67
Sounds good, the change I made was very much a shot in the dark and while it seems to work, I definitely think a more familiar set of eyes are needed.

[2019-04-12 19:05] yogiraj07 commented on #69
Hi @okubiak ,
 `AWSSDKHandler` generates `Subsegment` around AWS SDK call and expects `Segment` in the `TraceContext`.  Above code snippet generates `Subsegment` out side HTTP request and hence `Segment` which `app.UseXRay()` generates is not available.

@jaybyrrd explanation is correct.

1. You would need to identify entry point of your background service and create a `Segment`. If you don't want

[2019-04-15 18:02] yogiraj07 commented on #57
@tobymiller1 , we have planned release coming soon. I have this issue on priority. Please stay tuned and thanks for the patience.

[2019-04-16 06:57] MarcusRosen opened #73 "MissingMethodException: Method not found: 'System.String Amazon.XRay.Recorder.Core.Strategies.SegmentNamingStrategy.GetSegmentName(Microsoft.AspNetCore.Http.HttpRequest)'."
Hi,

I am are trying to integrate XRay into a ASP.NET Core 2.1 Application using full .NET Targeting (.NET Framework 4.6.1) running in Elastic Beanstalk. The reason for full ..NET targeting is integration with legacy services using assemblies only supporting older .net versions.

When registering XRAY using the .NET Core method [Link](https://github.com/aws/aws-xray-sdk-dotnet/tree/master#aspnet-c

[2019-04-16 21:26] yogiraj07 commented on #73
Hi @MarcusRosen ,
According to [issue](https://github.com/aws/aws-xray-sdk-dotnet/issues/39), ASPNET Core 3.0 is going to run only on NET Core platform. So I hadn't prioritize this work. I think more research needs to be done on  some methods which are missing when running ASP.NET Core on `net` platform.

Can you try a workaround mentioned [here](https://github.com/aws/aws-xray-sdk-dotnet/issues/3

[2019-04-17 17:24] yogiraj07 commented on #57
Hello,
This has been fixed in release `2.6.0`. Please refer [Changelog](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/CHANGELOG.md).

[2019-04-17 17:24] #57 closed

[2019-04-17 17:25] yogiraj07 commented on #64
Hello,
This has been fixed in release `2.6.0`. Please refer [Changelog](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/CHANGELOG.md).

[2019-04-17 17:25] #64 closed

[2019-04-17 17:25] yogiraj07 commented on #61
Hello,
This has been added in release `2.6.0`. Please refer [Changelog](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/CHANGELOG.md).

[2019-04-17 17:25] #61 closed

[2019-04-19 09:35] matheusmaximo commented on #67
I have the same problem here. It looks like to be intermittent.

[2019-04-22 16:22] sergedomk opened #74 "Error when pulling secret using custom Manifest"
Just pulled in 2.6.0 and got error attempting to pull secret from Secrets Manager.

I haven't researched this extensively yet, but it appears to be directly related to custom Manifest changes added in https://github.com/aws/aws-xray-sdk-dotnet/pull/63.

Given that I was responsible for this change, I feel I must apologize for not catching it.

Received the following error regardless of whether the

[2019-04-22 23:40] yogiraj07 commented on #74
Hi @sergedomk ,
I can reproduce this issue locally and working on the fix. The issue lies in the way the [code](https://github.com/aws/aws-xray-sdk-dotnet/pull/63/files#diff-9f4840a8c388c0e3929a12615bdf65e2R675) was changed to single instance of `XRayPipelineHandler` and how `XRayPipelineCustomizer` is invoked by AWS SDK for each AWS SDK request.

I wanted some more information on how you have don

[2019-04-23 14:58] sergedomk commented on #74
1. I'll try to illustrate with an example.

In NuGet package:

[code]

In code:

[code]

2. This particular code only talks to Secrets Manager. No other Amazon Services.

3. Have not explicitly created `AmazonXRayClient`. Guessing the reason for the stacktrace appearing as though it originates with XRay has something to do with that stacktrace being what was logged by the XRay SDK with debug loggi

[2019-04-24 17:42] yogiraj07 commented on #74
Hi @sergedomk ,
We have releases `V2.6.1`. Please refer [Changelog](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/CHANGELOG.md) for details.

Feel free to reopen the issue if you face any problem.

Thanks,
Yogi

[2019-04-24 17:42] #74 closed

[2019-04-29 10:01] okubiak commented on #69
Yes, you're right. The best solution is probably to be able to register specific service instances instead of all instances of a service type.

Thank you I'm closing this issue.

[2019-04-29 10:01] #69 closed

[2019-04-30 12:38] jaybyrrd commented on #67
@yogiraj07 I have updated the PR and I think it satisfies fixing the bug. I am going through final stages of testing here, but wanted to follow up on this.

[2019-04-30 16:58] sergedomk commented on #74
Thanks for the quick fix!

I confirmed that I can register a manifest both by path and stream successfully now.

[2019-05-06 14:59] okubiak opened #76 "Custom start and end date for Segment and Subsegment"
Hi,

I'm currently facing a little issue trying to profile Elasticache Redis commands.
I'm using StackExchange.Redis client and the profiling system included is not really friendly with the AWSXRayRecorder design.

All what I can have is a list of commands elapsed time.
I tried to set the start and end times for a subsegment but `AWSXRayRecorder.Instance.EndSubsegment();` is overriding the end tim

[2019-05-06 17:31] yogiraj07 commented on #76
Hi @okubiak ,
1. Currently [BeginSegment()](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/sdk/src/Core/AWSXRayRecorderImpl.cs#L146) and [EndSegment()](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/sdk/src/Core/AWSXRayRecorderImpl.cs#L188) accepts custom start and end time for the `Segment`. For your use case, we need to add similar support for `BeginSubsegment()` and `EndSubsegme

[2019-05-08 17:20] jaybyrrd commented on #67
@matheusmaximo the pull request has been merged and you should be good to go.

[2019-05-13 07:02] matheusmaximo commented on #67
Still waiting for a release to check if it works on mine.

[2019-05-13 13:19] jaybyrrd commented on #67
I have created a pull request to create a release commit @yogiraj07

[2019-05-13 16:31] yogiraj07 commented on #67
@jaybyrrd and @matheusmaximo , I would make a release per schedule soon. Please let me know if this issue is currently blocking you and will prioritize accordingly.

[2019-05-13 18:28] steveataws opened #78 "Readme error on NuGet package name"
The *How to use > Incoming requests* section lists the wrong NuGet package name in step 2. It states you should install a package named **Amazon.XRay.Recorder.Handlers.AspNetCore**. The package is actually named **AWSXRayRecorder.Handlers.AspNetCore**.

[2019-05-13 18:36] yogiraj07 commented on #78
@steveataws , thanks for pointing out. Will revisit all package names on the read me.

[2019-05-15 11:42] okubiak opened #79 "Amazon.XRay.AmazonXRayException: The request signature we calculated does not match the signature you provided."
Hello,

I have a random exception on GetSamplingTargetsRequest:
[code]

Is it a known issue??
It happened once this night, but I've already seen it.

Regards

[2019-05-15 17:57] yogiraj07 commented on #79
@okubiak ,
This is the [code](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/sdk/src/Core/Sampling/TargetPoller.cs#L66) you are hitting.

Can you get more details:
1. Do you see this error frequently or its intermittent?
2. What are the versions of AWSXRayRecorder nuget packages ? Can you use the latest? We had previously reported some similar [issue](https://github.com/aws/aws-xray-sdk-do

[2019-05-16 14:40] okubiak commented on #79
Sorry I forgot to give you precious info :(

1. It's intermittent, like I got it only twice (well I've seen it twice but maybe I got it more than that). The latest occurence was in the middle of the night...
2. I'm already using the latest version, 2.6.1
3. About the handler I'm doing a simple `AWSSDKHandler.RegisterXRayForAllServices();`
[code]
Here is the configuration btw:
[code]
4. Don't reall

[2019-05-16 15:09] okubiak opened #80 "Exceptions with no daemon and trace disabled"
Hello,

I'm using AWSXRayRecorder v2.6.1 and ASP.Net Core 2.1.
XRay is initialized with:
[code]

Is it intended to have the client connected to the daemon (and polling SamplingStrategy) even if trace is disabled?

Today if I don't have a xray daemon running and with trace disabled (`IsXRayTracingDisabled = true`) I'm spammed by exceptions (connection and polling).

Any way to disable it completely

[2019-05-17 16:47] yogiraj07 commented on #79
@okubiak ,
Thanks for the details.
X-Ray client never uses credentials to make a request : [reference](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/sdk/src/Core/Sampling/ServiceConnector.cs#L39). It sends unsigned request to X-Ray daemon over TCP and the X-Ray daemon signs these request on your behalf using the X-Ray daemon credentials and send it to X-Ray service. The daemon serves as a

[2019-05-17 17:10] yogiraj07 commented on #80
@okubiak ,
You can configure the AWSXRayRecorder instance with [LocalizedSamplingStrategy](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/sdk/src/Core/Sampling/Local/LocalizedSamplingStrategy.cs#L35), similar to this [code](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/sdk/test/UnitTests/AWSXRayRecorderTests.cs#L970) and this will not start X-Ray pollers that connects to daemon in

[2019-05-21 11:05] stolemotion opened #81 "TraceableSqlCommand fails on trusted connections"
In TraceableSqlCommand.cs the recorder assumes that UserID is present in the connectionstring in the line:

`recorder.AddSqlInformation("user", connectionStringBuilder.UserID);`

But for trusted connections this is not the case and an exception occurs.

[2019-05-21 16:07] yogiraj07 commented on #81
Hi @stolemotion ,
Thanks for reporting the issue.
I believe we should do a check if `UserID` is present for `connectionStringBuilder`.
Can you paste the exception stack trace ? For trusted connection can you provide an example on how to produce this scenario (basically how you made the call)?

[2019-05-22 22:34] srprash commented on #67
Hello,
This has been fixed in release 2.6.2. Please refer to the [Changelog](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/CHANGELOG.md).
Thanks for being patient.

Prashant.

[2019-05-22 22:34] #67 closed

[2019-05-24 08:29] matheusmaximo commented on #67
It worked for me. Thank you all.

[2019-05-24 11:08] Ellosaur commented on #57
I'm seeing this exception when calling `AWSXRayRecorder.Instance.BeginSubsegment` with our code deployed as a local Web Api instead of deployed as a Lambda. Must we prevent calls like this with preprocessor directives for AWS vs Local deployments or can this call be configured to do nothing when not in AWS land?

[2019-05-24 16:31] yogiraj07 commented on #57
@Ellosaur ,
`AWSXRayRecorder.Instance.BeginSubsegment` in local deployment should automatically attach the subsegment to the middleware `Segment`.
1. Would you mind posting the exception stack trace?
2. Do you get this exception while running tests or running app? Since I wonder if you run app and have correctly instrumented the web app using [instrumentor](https://github.com/aws/aws-xray-sdk-dotn

[2019-05-29 19:11] TWI-Ben opened #82 "Abstract TraceableSqlCommand to support any database backend (mySQL, postgres, Oracle, SqlLite, etc)"
Currently AWS X-Ray SDK for .NET only supports SQL Server for tracing SQL commands. The code should support any DbCommand, DbConnection, and DbTransaction regardless of what server it ultimately talks to.

Examples:
`using (TraceableSqlCommand cmd = new TraceableSqlCommand<MySqlCommand>("SELECT * from test", conn))
{
    // ... Command code goes here
}`
or
`using (TraceableSqlCommand cmd = new Tra

[2019-06-01 00:11] srprash commented on #82
Hello @TWI-Ben ,
Thanks for opening this issue. We have added the task to our backlog and will prioritize it.

[2019-06-10 10:33] williamdenton opened #84 "AWSXRayRecorder.Instance.GetEntity() doesn't return most recently opened subsegment"
I am writing an xray wrapper for Postgres so I can capture the SQL being executed on RDS.

I'm using the Miniprofiler core classes (but not mini-profiler it self) as it provides the necessary hook points and wrapping classes to get this going.

I have implemented by own IDbProfiler based on this interface
https://github.com/MiniProfiler/dotnet/blob/master/src/MiniProfiler.Shared/Data/IDbProfiler.c

[2019-06-10 23:51] srprash commented on #84
Hi William,
Thanks for opening the issue. I would like to know some details about your code.
1. What is the xray middleware that you are using?
2. Are `ExecuteStart()` and `ExecuteFinish()` running in different threads?

If both of the above mentioned functions are in the same thread, then the `AWSXRayRecorder.Instance.GetEntity()` in `ExecuteFinish()` should get the `Subsegment` that is opened in

[2019-06-11 00:35] williamdenton commented on #84
The middleware supplied in this repo
https://github.com/aws/aws-xray-sdk-dotnet/blob/4ee0660ed6593b55a6c613f16201ffc58bc67b8f/sdk/src/Handlers/AspNetCore/AWSXRayMiddlewareExtensions.cs#L38-L41

---

Yes, they are on different threads. There must be a `ConfigureAwait(false)` somewhere in entity framework
This commit might not be the relevant place, but it does show that configureawait false is pref

[2019-06-12 22:12] srprash commented on #84
Ok. So how the .Net SDK for XRay in .NetCore works is that it maintains the `TraceContext` using [`AsyncLocal<Entity>`](https://docs.microsoft.com/en-us/dotnet/api/system.threading.asynclocal-1?view=netframework-4.5) class object which is thread local. In your async code, when you create a subsegment in the `ExecuteStart()`, it is created in its own `TraceContext` and will not be available in the

[2019-06-13 20:44] yogiraj07 commented on #79
Hi @okubiak,
Please feel free to re-open this if you are still facing this issue.

[2019-06-13 20:44] #79 closed

[2019-06-14 10:13] williamdenton opened #85 "Creating a Subsegment with brackets `()` causes error in xray daemon"
It appears there are characters that are disallowed as subsegment names. I have noticed that using brackets `()` causes the xray daemon to fail. The daemon logs the entire segment payload as a warning. The sdk should fail to add the segment and fail fast rather than emitting the bad trace segment.

As this error occurs in the daemon itself, and the data is transmitted via UDP, no errors in the tra

[2019-06-14 10:16] williamdenton commented on #84
I believe this code will also be affected by this issue.

https://github.com/aws/aws-xray-sdk-dotnet/blob/bdb7471e2f14fc58da591321f08b3979729f0eb2/sdk/src/Core/AWSXRayRecorderImpl.cs#L939-L956

I am happy to make a PR to resolve this particular issue

[2019-06-14 16:35] yogiraj07 commented on #84
Hi @williamdenton ,
Sure PR is always welcomed. Can you help understand how `TraceMethodAsync()` code is affected?

[2019-06-14 17:12] yogiraj07 opened #86 "Don't start pollers when tracing is disabled"
# Background
2 pollers are started in the background for DefaultSamplingStrategy
1.  When the first incoming request for the framework arrives : [code](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/sdk/src/Core/Sampling/DefaultSamplingStrategy.cs#L102)
2. `BeginSegment()` makes a sampling decision : [code](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/sdk/src/Core/AWSXRayRecorder

[2019-06-14 17:14] yogiraj07 commented on #80
Hi @okubiak ,
Created a separate issue to ease the user experience : #86 . Please feel free to open if you have questions.

Best,
Yogi

[2019-06-14 17:14] #80 closed

[2019-06-14 17:16] yogiraj07 commented on #55
Hi @jaredcnance ,
Please feel free to reopen this issue. I am happy to work with you on this.

[2019-06-14 17:16] #55 closed

[2019-06-15 05:05] williamdenton commented on #84
I haven't had any luck writing a test that reproduces my problem. None of existing tests are specifically  testing resuming on a different thread. Modifying them to do so is trivial, but still no failures. I made the following changes...

Existing:
https://github.com/aws/aws-xray-sdk-dotnet/blob/f41ad03fbec63b63a246bf76e4748c5fe346cadf/sdk/test/UnitTests/AWSXRayRecorderTests.cs#L1113-L1117

Change

[2019-06-17 00:01] williamdenton commented on #85
the python sdk seems to be handling this

https://github.com/aws/aws-xray-sdk-python/pull/32/files#r172981523

 http://docs.aws.amazon.com/xray/latest/devguide/xray-api-segmentdocuments.html

[2019-06-17 23:11] srprash commented on #37
Hi @rudygt ,
Thanks for providing the code to reproduce your issue. However, looking at the `DoLoop()` method, I am unable to understand the reason for testing the `JsonSegmentMarshaller`. When testing the `JsonSegmentMarshaller` directly, it is possible to run into threading issues since the underlying implementation may not be thread-safe. Therefore, `JsonSegmentMarshaller` should not be used di

[2019-06-17 23:11] #37 closed

[2019-06-17 23:52] srprash commented on #84
HI @williamdenton ,
I appreciate you investigating the problem. Give me some time to understand what's happening here and I'll get back to you. Thanks!

[2019-06-19 23:07] srprash commented on #78
Updated the Readme to correct this.

[2019-06-19 23:07] #78 closed

[2019-06-19 23:22] srprash commented on #84
Hi @williamdenton ,
I tested the changes you mentioned above in the context of an ASPNet, an ASPNetCore, and a .NET Console app. I did not run into any issues in all of those applications, and was able to generate the expected segments and subsegments.
I am a bit confused by your last comment in understanding that whether you were able to reproduce the problems through the above-mentioned code or

[2019-06-28 17:35] srprash commented on #85
Hi @williamdenton ,
Thanks for bringing up the issue. We are planning to work on a `Development Mode` in order to give better insight and validation abilities to the SDK. It should take care of the above mentioned issue too. Stay tuned and if you have any suggestions, feel free to post them.

[2019-06-28 17:37] srprash commented on #84
Hi @williamdenton
Checking in to see if there have been any updates on this one on your side.

[2019-07-04 00:56] yogiraj07 commented on #29
This feature is merged to [mainline](https://github.com/aws/aws-xray-sdk-dotnet/commit/f41ad03fbec63b63a246bf76e4748c5fe346cadf). Pending release.

[2019-07-12 16:06] srprash commented on #84
Hello @williamdenton
I'm closing this issue for now. Feel free to reopen it if you run into this again.

Thanks,
Prashant.

[2019-07-12 16:06] #84 closed

[2019-07-18 22:34] srprash commented on #76
Hi @okubiak ,
This feature has been implemented in v2.7.0
Please refer to the [Changelog](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/CHANGELOG.md) for details.

Thanks,
Prashant

[2019-07-18 22:34] #76 closed

[2019-07-18 22:37] srprash commented on #81
Hi @stolemotion ,
This issue has been fixed in v2.7.0
Please refer to the [Changelog](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/CHANGELOG.md) for details.

Thanks,
Prashant

[2019-07-18 22:37] #81 closed

[2019-07-18 22:40] srprash commented on #86
Fixed in v2.7.0
Please refer to the [Changelog](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/CHANGELOG.md)

[2019-07-18 22:40] #86 closed

[2019-07-18 22:50] srprash commented on #29
Hi @emmekappa ,
This feature has been released in v2.7.0
Please refer to the [Changelog](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/CHANGELOG.md) for details.

Thanks,
Prashant

[2019-07-18 22:50] #29 closed

[2019-07-26 02:27] EdumbaP opened #95 "is XRay supported while reading from Parameter Store"
I have used [AWS .NET Configuration Extension for Systems Manager](https://github.com/aws/aws-dotnet-extensions-configuration#aws-net-configuration-extension-for-systems-manager) for reading configuration values from Parameter Store, and also configured XRay. But when the Startup happens where the parameters are being read, I get an exception `Error while Reading from System Parameter store    at

[2019-07-26 17:44] srprash commented on #95
Hi @EdumbaP ,
Thank you for opening the issue. I'll be happy to take a look into this.
Meanwhile, can you provide some code snippets of how you configured the extension for systems manager to read from Parameter store, and configuration for using XRay. If you can provide a sample app with the configuration, that would be great.

[2019-07-27 13:16] EdumbaP commented on #95
Please find a sample app [Sample App](https://github.com/EdumbaP/SampleXRayParameterStore) just provide a parameter store config value at [config value](https://github.com/EdumbaP/SampleXRayParameterStore/blob/master/SampleXRayParameterStore/Program.cs#L23)

[2019-07-29 17:24] srprash commented on #95
Thank you for the sample app. Please allow me some time to dive into it.
Stay tuned.

[2019-07-30 20:18] srprash commented on #95
Hi @EdumbaP
I tried the sample app that you provided and it worked fine for me. I was able to see traces on the X-Ray console too.
One thing that I noticed that you are using the XRay middleware [here](https://github.com/EdumbaP/SampleXRayParameterStore/blob/218a2f34aafb21bf3d3e7ce24d8ad2ef519c3a4b/SampleXRayParameterStore/Startup.cs#L42). It is recommended that you use the XRay middleware before

[2019-07-30 23:05] EdumbaP commented on #95
Thanks @srprash for getting back, Its surprising to know that you didn't face the issue, were you able to Read the value from the Parameter store ?

I will try the option suggested by you, and let you know in case if I any issues, Thanks again.

[2019-08-06 20:37] srprash commented on #95
Hi @EdumbaP ,
Following up on any updates on this issue since our last conversation.
Also, just to answer the fundamental question of this issue, I put together a very basic sample app [here](https://github.com/srprash/SSM_ParameterStore_Instrumented).
You can look at my ParameterStore variables [here](https://github.com/srprash/SSM_ParameterStore_Instrumented/blob/master/Screen%20Shot%202019-08-0

[2019-08-06 23:45] EdumbaP commented on #95
Hi @srprash , I didn't get much time to continue further on that.

Thanks for providing the sample. I will go through the same.

[2019-08-14 03:01] czd890 opened #96 "DefaultExceptionSerializationStrategy Throw System.NullReferenceException"
Occasionally throw exceptions:
AWSXRayRecorder.Handlers.AspNetCore : 2.6.0

[code]

[2019-08-16 18:56] yogiraj07 commented on #96
Hi @czd890 ,
As per the stack trace above the null reference exception is generated at this point of the [code](https://github.com/aws/aws-xray-sdk-dotnet/blob/bdb7471e2f14fc58da591321f08b3979729f0eb2/sdk/src/Core/Strategies/DefaultExceptionSerializationStrategy.cs#L135). However can you provide detail exception stack trace? If this is the exception being logged, a small repro example would be hel

[2019-08-17 04:58] enif-lee opened #97 "How about updating Least .NET Framework version to .NET452"
Hello there.

I have tried to contribute for adding some extensions (ex: NpgsqlHandler, MysqlHandler, Entity Framework Support). But The solution failed to build because of .net framework version.

[.NET45 is officially end](https://devblogs.microsoft.com/dotnet/support-ending-for-the-net-framework-4-4-5-and-4-5-1/). So I can't download developer pack for 45. from [.net download](https://dotnet.mi

[2019-08-19 09:53] wzowee opened #98 "Owin Middleware support"
Is there any option for configuring XRay in an ASP.Net application that uses Owin instead of registering in the Global.asax.

If not - are there any known limitations when registering in Global.asax with app that has everything run through the Owin Startup.cs class.

[2019-08-19 14:04] TWI-Ben commented on #82
@srprash Is there any update on this?

[2019-08-20 04:01] srprash commented on #98
Hi @wzowee ,
Thanks for bringing this issue to our notice. Unfortunately, currently there is no way to register XRay middleware in the Startup class of an ASP.Net application which uses OWIN since the `AWSXRayASPNET.RegisterXRay` accepts a `HttpApplication` type which the `Startup` class is not.

I believe registering XRay in Global.asax should not have any limitation and should work as expected s

[2019-08-20 16:51] srprash commented on #82
Hi @TWI-Ben ,
it’s still in our backlog and is being worked against other items in our backlog.

Thanks

[2019-08-20 23:44] yogiraj07 opened #99 "Segment name not correctly matched against Sampling rules"
# Issue
[BeginSegment()](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/sdk/src/Core/AWSXRayRecorderImpl.cs#L151) is performing incorrect sampling. Ideally the Segment name should match to `Service name` attribute of a Sampling rule configured through X-Ray console.

# Current Behavior
For following code snippet :
[code]
Following sampling configuration on the X-Ray console :
[code]
Sampli

[2019-08-24 19:05] srprash commented on #97
Hi @enif-lee ,
A PR is always welcomed. Feel free to create one. We will review it and get it merged.

Thanks.

[2019-08-26 04:36] czd890 commented on #96
Local debugging cannot retry this problem.

Mybe d is null on existingExceptionDescriptors.FirstOrDefault(d => d.Exception.Equals(e));
https://github.com/aws/aws-xray-sdk-dotnet/blob/bdb7471e2f14fc58da591321f08b3979729f0eb2/sdk/src/Core/Strategies/DefaultExceptionSerializationStrategy.cs#L192

or e is null on FirstOrDefault(descriptor => e.Equals(descriptor.Exception))

https://github.com/aws/aws-

[2019-08-26 07:46] czd890 commented on #96
Tracked to where the error was thrown.

Usage custom ExceptionSerializationStrategy, The code Copy from `DefaultExceptionSerializationStrategy`.
Change
[code]
[code]

[2019-08-28 01:59] granttrevor commented on #98
Thanks - sprash - have implemented in Global.asax for now - please close this.

[2019-08-30 17:44] srprash commented on #98
Closing the issue for now. Feel free to reopen if you come across the issue in the future.
Thanks.

[2019-08-30 17:44] #98 closed

[2019-09-02 03:43] czd890 commented on #96
I think this should be a matter worthy of further investigation. What can I help you?

[2019-09-10 18:25] yogiraj07 commented on #96
I think, while processing InnerException, e is set to [null](https://github.com/aws/aws-xray-sdk-dotnet/blob/bdb7471e2f14fc58da591321f08b3979729f0eb2/sdk/src/Core/Strategies/DefaultExceptionSerializationStrategy.cs#L196). Prior to reaching this point, we record this value as reference in [curDescriptor](https://github.com/aws/aws-xray-sdk-dotnet/blob/bdb7471e2f14fc58da591321f08b3979729f0eb2/sdk/sr

[2019-09-11 20:24] morquan commented on #82
My company would really benefit from this feature. Can you elaborate on whether this is being worked or not?

As a reference for anyone working this or looking to understand the scope, MiniProfiler essentially handles this through the use of connection wrapper; see: https://github.com/MiniProfiler/dotnet/blob/master/src/MiniProfiler.Shared/Data/ProfiledDbConnection.cs.

[2019-09-12 04:14] srprash opened #102 ".Net SDK release v3.0.0"
This is a tracking issue for the changes going into the next major version release **`v3.0.0`**:
### 1.  Fixed a typo in Reservoir [PR #62]:
Changes the class and methods from `Reservior` to `Reservoir`.

### 2. Update .net framework version to 4.5.2 [PR #101]:
Current SDK targets `net45` as the `TargetFramework` for its projects. Since, the support for .Net Framework 4, 4.5 and 4.5.1 has [officia

[2019-09-16 16:27] morquan opened #103 "Tracing SSM Parameter Store reload"
Greetings.

I'm trying to use the XRay SDK in combination with SSM Parameter Store. I have registered XRay for all SDK services (`AWSSDKHandler.RegisterXRayForAllServices()`. I have SSM configured to reload periodically (`configurationBuilder.AddSystemsManager("...", TimeSpan.FromMinutes(1))`).

Each time the SSM configuration provider tries to reload, I'm seeing a message like this:

[code]

Is t

[2019-09-16 18:40] morquan commented on #103
Thanks for the response! That all makes sense and aligns with my understanding as well.

The application in question is an ASP.NET Core MVC app (non-Lambda).

For now I've disabled configuration reload to avoid the error. I could live without that activity being traced if necessary - I'd rather keep enabled.

[2019-09-16 19:18] yogiraj07 commented on #103
Thanks for the response.
1. Can you add `AWSSDKHandler.RegisterXRayForAllServices()` after `(configurationBuilder.AddSystemsManager("...", TimeSpan.FromMinutes(1))` code logic.  `AWSSDKHandler.RegisterXRayForAllServices()` traces all instances of AWS SDK created after this instrumentation. I wonder if this helps in not tracing the reload call made by SSM.
2. If step 1 doesn't work, you would need

[2019-09-16 19:53] morquan commented on #103
I'm already doing #1 - `AWSSDKHandler.RegisterXRayForAllServices()` is called in `Startup.ConfigureServices` while `configurationBuilder.AddSystemsManager()` is called prior to that during the host building process.

Thanks for your suggestion for a workaround. A blocklist style approach would be nice, I agree. That said, I honestly don't know what service client types are in use because I'm not u

[2019-09-17 20:09] morquan commented on #103
In case this helps, here's the error I'm seeing from the XRay SDK interfering with Amazon.AspNetCore.DataProtection.SSM. I've had to stop using `RegisterXRayForAllServices` for the time being.

[2019-09-26 04:47] srprash commented on #95
Hi @EdumbaP ,
Any update on this? Were you able to go through the above-mentioned sample?

[2019-09-26 05:15] EdumbaP commented on #95
I didn't get a chance to try this, but I tried similar approach in a
different approach and it worked, Can you kindly close the ticket please.

On Thu, Sep 26, 2019 at 2:47 PM srprash <notifications@github.com> wrote:

--
Thanks & Regards,

Edumba Sangar

[2019-09-26 17:02] srprash commented on #95
I'm glad that it finally worked for you. Closing this issue now.
Thanks.

[2019-09-26 17:02] #95 closed

[2019-09-27 14:15] miokowpak opened #104 "SDK invocations subsegments are not used as parentId in request header"
I think this is a bug, but, its possible that its intended behaviour.

In `XRayPipelineHander::ProcessBeginRequest`, it appears that trace header on the request is being set before a subsegment is created for the SDK function invocation.

In my case, I'm using an SQS queue for communication between two services.  The result is that the sending service is recorded as the parent of the `SendMessage`

[2019-09-27 18:26] srprash commented on #104
Hi @miokowpak ,
I would be happy to take a look into this issue. Could you give some more details on your use case? If you could provide the code snippet for your receiving service polling the SQS and the service map if possible, it would help me understand the issue better.
Thanks

[2019-09-27 21:14] miokowpak commented on #104
@srprash thanks for the quick reply.

Simply put, our use case is that a user clicks a button on a website.  The website puts a message on an SQS queue, and, it is eventually processed by a back end server.  This is one small part of a much larger legacy system that we're trying to instrument.

My expectation was that the service map would include `web -> sqs -> server`, but instead, I get `sqs <-

[2019-09-28 21:54] srprash commented on #104
Hi @miokowpak ,
Thanks for the details. I was able to reproduce the issue from your use case.

You are right about the cause of the problem. PRs are always welcome and much appreciated.
Thank you!

[2019-09-28 21:56] miokowpak commented on #104
Thanks for the feedback.  Not sure if I'll be able to do this during work time or if its going to have to be personal time.  Either way, I'll do my best to submit a PR by the end of next week.

[2019-10-02 19:10] benhilty commented on #103
Per the [Configuration docs](https://docs.aws.amazon.com/en_pv/xray/latest/devguide/xray-sdk-dotnet-configuration.html), it looks like you can set the environment variable `AWS_XRAY_CONTEXT_MISSING` to `LOG_ERROR` to prevent an exception from being thrown in these circumstances.

[2019-10-07 22:23] #104 closed

[2019-10-21 11:46] neetika123 opened #107 "X-Ray integration via serverless.yml is not happening using .Net core sdk"
Hi,
I am developing a microservice using .NET core 2.2, trying to integrate x-ray via serverless.yml but its not working. no error but not result at X-ray . Below is the code description.
serverless.yml
provider:
  name: aws
  tracing:
    lambda: true
functions:
  GetPersonsAsync:
    handler: xyz-abcd
    name: dfdfdfdfd
    description: provide your lambda function description here
    tracing:

[2019-10-22 03:00] czd890 commented on #96
Seen from [DescribeException](https://github.com/aws/aws-xray-sdk-dotnet/blob/bdb7471e2f14fc58da591321f08b3979729f0eb2/sdk/src/Core/Strategies/DefaultExceptionSerializationStrategy.cs#L135) method, `d.Exception` should not have a `null` case.

[2019-10-22 17:41] srprash commented on #107
Hi @neetika123, I would be happy to help you.
A couple of things I would like you to verify. First, once the lambda function is deployed, is the checkbox saying `Active tracing` under AWS X-Ray enabled?
Second, when you run your lambda function, do you see a trace id something like `XRAY TraceId: 1-xxxxxxxx-xxxxxxxxxx	SegmentId: 0c111a1111111111	Sampled: true` in the lambda logs?

I would also lik

[2019-10-30 17:50] srprash commented on #96
Hi @czd890 , I did not fully understand this. Also, would it be possible for you to provide a sample code that reproduces this issue. It would be very helpful.

Thanks,
Prashant

[2019-10-30 23:33] EdisonHarada opened #109 "Max allowed object depth reached while trying to export from type System.Guid"
Hello,

I'm getting this error when I try to export an object that contains GUID. Probably is related to this other one: https://github.com/aws/aws-xray-sdk-dotnet/issues/11.

My code looks like this:
[code]

ThirdParty.LitJson.JsonException: Max allowed object depth reached while trying to export from type System.Guid
   at ThirdParty.LitJson.JsonMapper.WriteValue(Object obj, JsonWriter writer, B

[2019-11-05 19:02] srprash commented on #109
Hi @EdisonHarada ,
Sorry for delay in response. I looked into the issue and was able to reproduce it as well. We would probably need to write an exporter for the base class. I'll do some digging.
Meanwhile if your use case is adding only the Guid value as metadata, as a workaround you could use the `ToString()` method on the value.

[2019-11-06 09:35] czd890 commented on #96
Hi @srprash , Maybe related to no async task.
[code]

[2019-11-07 13:39] carpnick opened #110 "Lambda called by SQS Event Trigger - supported?"
Why does this [line](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/sdk/src/Core/AWSXRayRecorderImpl.cs#L156) exist?  I am attempting to do a single trace from API GW --> Lambda Function --> SQS --> Lambda (SQS Event Trigger lambda poller) --> Lambda function

In my lambda function I want to create a segment that is part of the trace pipeline.  I have done all the unwrapping and setting of

[2019-11-07 19:29] srprash commented on #110
Hi @carpnick ,
To answer your question as to why creating a segment within a lambda function is unsupported is because typically a segment represents a microservice. Since lambda is a managed service, it creates a segment of its own and users can attach only subsegments to it.

For your use case above, currently you should see a segment for your event triggered lambda function and a disconnected s

[2019-11-14 15:24] lethienhoang opened #111 "How to configure x-ray in NET core correctly?"
I did a research x-ray to apply to my project. But I have read document on AWS

Example of document is "new HttpClient(new HttpClientXRayTracingHandler(new HttpClientHandler())"

but in NET core we use DI so we doesn't using new HttpClient. That is httpclientfactory createclient

In my statup

[code]
Json:

[code]
In program

[code]
In service, using httpClientFacTory to call other api. We are usi

[2019-11-14 18:34] bhautikpip commented on #111
Hi @lethienhoang,

Thanks for reaching out. For initial configuration if you follow .net core section in this link (https://github.com/aws/aws-xray-sdk-dotnet) then I think you should be good. Moreover, one important thing to keep in mind is that if you want to trace outgoing HTTP requests then you should follow steps mentioned in this link (https://github.com/aws/aws-xray-sdk-dotnet#trace-out-goi

[2019-11-15 02:26] lethienhoang commented on #111
Hi @bhautikpip  I don't see GetAsyncReosponeTraced method in HttpRequestMessage

[2019-11-15 17:46] bhautikpip commented on #111
Hi @lethienhoang,

what I mean is you can use GetAsyncReosponeTraced method to trace async http calls.

[2019-11-19 18:19] bhautikpip commented on #96
Hi @czd890,

I was looking through the thread. I found it difficult to catch up. Would you mind explaining about this issue in detail? And also repro steps of this issue would be helpful.

[2019-11-20 06:29] Technicalsupport1978 opened #112 "Xray complete trace is not generated"
There is an api gateway and it is calling 3 apis. Presentation, domain and integration. The below code is used to call the apis. But when we check it from presentation layer only presentation layer trace is generated but it does not generate complete trace. Please let know what is the issue with the code.

            //Execute the API and point request
            var client = new HttpClient(new

[2019-11-22 07:58] #112 closed

[2019-11-22 21:46] carpnick commented on #110
Yes I can make the disconnected service map show up if I enable active tracing on the lambda function on the other side of the SQS queue.  What i was going for was a single trace that went all the way through the SQS Event trigger without enabling active tracing on the lambda function.

[2019-11-22 21:47] carpnick commented on #110
Probably not worth giving you the trace data, since I can make what you suggest happen by enabling active tracing.  If I dont enable active tracing, once it gets to the SQS queue, all tracing stops, even if the SQS client SDK adds the trace id into the sqs message attributes.

[2019-11-25 12:29] lethienhoang opened #113 "EntityNotAvailableException: Entity doesn't exist in AsyncLocal in microservices."
Before I have tried only 2 services such A service call B service . That is running correctly
After I have applied all services in project and I got error is **EntityNotAvailableException: Entity doesn't exist in AsyncLocal** when I call httpClientFactory.

There are many services is using httpclient extension.

Note: **`AddHttpMessageHandler<HttpClientXRayTracingHandler>()`;**

[code]

I have to

[2019-11-25 17:55] bhautikpip commented on #113
Hi @lethienhoang,

It looks like you are adding HttpClientXRayTracingHandler inside your code but not passing HttpClientHandler object might be the cause of exception you are getting. I would recommend you to try out this example (https://github.com/aws/aws-xray-sdk-dotnet#using-systemnethttpclient) to see you are able to trace http calls using this without any exception. it might give you better

[2019-11-28 03:20] Technicalsupport1978 opened #114 "AWS XRay trace generates complete trace only when called from within the same assembly"
XRay tracing in .net core does not generate end to end trace when httpclient call is made from a common utility. It only generates when called explicitly from the handler function. Please throw some light on this issue.

[2019-11-29 07:42] #114 closed

[2019-11-29 14:50] lethienhoang opened #115 "How to DI interface instead using AWSXRayRecorder.InitializeInstance(configuration);"
Hi,
I would like to ask everyone a question. I want to use DI for AWSXRayRecorder instead WSXRayRecorder.InitializeInstance(configuration); in startup.cs

Thanks

[2019-12-03 10:57] lethienhoang opened #116 "I set "DisableXRayTracing": "true" in appsettings.json It will disable tracing of httpclient right?"
In project, At local we don't want to trace httprequest from httpclientFactory. That just only for production.

So I set "DisableXRayTracing": "true"  . Is that correct? I try it at 1 service then I still having amazon-id:..., parentId : ...

[2019-12-04 13:28] srprash commented on #107
Hi @neetika123 ,
I am closing this issue for now due to inactivity. Please feel free to reopen if you still encounter the problem.

Thanks!

[2019-12-04 13:28] #107 closed

[2019-12-04 13:33] srprash commented on #109
Hi @EdisonHarada ,
Did the suggested workaround work for you?

I am closing this one and will add a feature task to our backlog to add the exporter for the base class for Guid. Feel free to reopen the issue if you need further discussion or anything else.

Thanks!

[2019-12-04 13:33] #109 closed

[2019-12-04 23:15] stimpy77 commented on #34
This thread is a year old, X-Ray has been around for a couple years (++) now and this thread is linked from https://forums.aws.amazon.com/thread.jspa?threadID=309263 one of the first that comes up searching for: "AWS X-Ray" "SQL Server"

Can we please get an update on this? Or was this thread abandoned while the feature already implemented?

[2019-12-09 21:29] bhautikpip commented on #116
Hi @lethienhoang ,

DisableXRayTracing option will disable end to end tracing of your application but if you want to disable tracing only http calls then simply do not use the tracing handler provided by X-Ray to trace http calls and you will not be able to trace http downstream calls. Let me know if you need more clarification.

[2019-12-10 18:46] kosmakoff commented on #110
Hi @carpnick
Were you able to solve your problem? I am having the same exact problem as you and I have already spent too much time trying to solve it.

Could you share your code for trace context recovery?

Mine is as follows, translated from Java example [here](https://docs.aws.amazon.com/en_us/xray/latest/devguide/xray-services-sqs.html), and it doesn't seem to work, the whole process is being t

[2019-12-10 18:59] carpnick commented on #110
@kosmakoff , Yeah I gave up on the recovery piece.  The problem with doing the recovery is the code as it stands cannot create a new segment within Lambda, and the Lambda Service/Function do not show up correctly because the Lambda Polling service does not propagate the trace id correctly.

The way I solved this problem is as follows:

- Enable Active tracing on the Lambda function that is being c

[2019-12-10 19:29] srprash commented on #110
Hi @carpnick and @kosmakoff ,
This issue is something that we have in our backlog and will be prioritized. Please stay tuned for updates.

Thanks.

[2019-12-10 19:35] srprash commented on #34
Hi @stimpy77 ,
Supporting Entity Framework calls is on our backlog. I'm really sorry we couldn't get it prioritized till now. Please stay tuned for updates.

Thanks.

[2019-12-30 21:25] srprash commented on #111
Hi @lethienhoang
You need to return an instance of HttpClientXRayTracingHandler in your ConfigurePrimaryHttpMessageHandler method.

example:
[code]

One question I have is that are unable to see the subsegment for outgoing http requests from your application or you are not seeing any traces at all?

[2019-12-30 22:22] srprash commented on #115
Hi @lethienhoang
Can you explain your use case or what you are trying to achieve? Some example code snippet would be very helpful.

[2020-01-03 23:57] jdavis-leasehawk commented on #102
How about .NET Core 3.1 (LTS) support?
Microsoft is soon to abandon .NET Core 3.0.

[2020-01-08 12:17] lvanderbijl commented on #26
I'm still getting this error with v2.7.2.

Is there any alternative fix?

[2020-01-10 01:19] awssandra commented on #116
Closing as inactive.

[2020-01-10 01:19] #116 closed

[2020-01-13 14:34] matthewdouglas opened #118 "Custom Start/End Time Resolution"
I am using XRay to trace an ASP.NET Web API application, using the included `AWSXRayASPNET` handler.

I have noticed that every request trace has a beginning timestamp that starts exactly on the second. This is adding extra duration time to the traces as seen here:
![image](https://user-images.githubusercontent.com/38992547/72263476-ee995d80-35e6-11ea-8c2e-b4b067d35486.png)

The start of the segme

[2020-01-13 18:19] srprash commented on #113
Closing the issue due to inactivity. Feel free to reopen. Thanks!

[2020-01-13 18:19] #113 closed

[2020-01-13 18:21] srprash commented on #96
Closing this one due to inactivity. Please reopen if you still face the issue. Thanks!

[2020-01-13 18:21] #96 closed

[2020-01-13 19:25] srprash commented on #118
Hi @matthewdouglas
Thanks for the deep dive and uncovering the issue. I'm not really sure why we floor the timestamp in `SetStartTime(DateTime timestamp)` and not in the other methods. Feel free to open a PR.

[2020-01-14 10:59] dkleczko commented on #34
Hi @srprash great to hear that it's time for this feature.
Have you any ETA for this? Could you also verify will it works for configuration Entity Framework Core + Pomelo.EntityFrameworkCore.MySql?

[2020-01-21 11:41] yreynhout opened #120 "UseXRay(...) causes concurrency exception"
In my ASP NET Core 2.1 web app's `Configure(IApplicationBuilder app)` I set up XRay using

[code]

Now, I have a test suite that runs against this web app (using TestServer) and on occasion I get the following exception:

[code]

It looks like `JsonMapper` is using plain dictionaries (indirectly called by `AWSXRayRecorder -> JsonSegmentMarshaller ->`), which are not protected from being accessed c

[2020-01-22 18:58] srprash commented on #26
Hi @lvanderbijl
Can you provide some logs or a stack trace for the error you are getting? Also, if you can provide a repro code, it would be very helpful.

[2020-01-27 21:14] matthewdouglas commented on #118
Hi @srprash
Is there anything else you need from me to before PR #119 can be merged?

[2020-01-28 01:53] #118 closed

[2020-01-28 22:25] srprash commented on #34
Hi @dkleczko We are hoping to roll it out soon but cannot promise an ETA at this moment. We do plan to support the Pomelo.EntityFrameworkCore.MySql provider for EntityFrameworkCore.

[2020-01-29 23:58] samkbit opened #121 ".NET Core Console App "Entity doesn't exist in AsyncLocal""
Various issues have been reporting this error **Entity doesn't exist in AsyncLocal** and my scenario is a bit different. My application is NOT AspNetCore app, it is a NetCore Console app project where I am simply calling an API and I want to trace it with XRay. I am getting that error.

The simplest possible code to replicate the issue is below.

    Configuration = new ConfigurationBuilder()

[2020-01-30 18:31] srprash commented on #120
Hi @yreynhout
You are right that the AWSXRayRecorder gets initialized only once per process and not per request. We use the singleton instance for the recorder every time.
For confirming this being related to the LazyDefaultRecorder, I'll have to dig a but deeper.

[2020-01-30 20:12] matthewdouglas commented on #121
@samkbit You'll want to call `BeginSegment()` and `EndSegment()` as per the example here: https://github.com/aws/aws-xray-sdk-dotnet#creating-custom-segmentsubsegment-net-and-net-core

[2020-01-30 20:18] srprash commented on #121
@samkbit The recorder automatically creates a `Segment` only for instrumented ASP .Net applications. For you console app, you'll have to manually begin and end a segment.

[2020-01-31 02:09] samkbit commented on #121
Ah ok this worked thank you both @matthewdouglas and @srprash. However, a related question below.

If I have a message handler class (hooked to some message bus) in a console app project and if the handler method on that class gets invoked **concurrently**, will there be concurrency issues when **trace IDs** are generated by `BeginSegment()` statements?

[2020-01-31 18:36] AlexanderSchlecht commented on #82
Just started looking into x-ray, and ran into this problem. Since it is already in the backlog I would like to +1 this feature request.

[2020-02-07 06:07] srprash commented on #121
If your console app is handling each invocation in a multi-threaded manner, the `BeginSegment()` should create a segment and put it in the `AsyncLocal` of each thread. You can set the trace id while creating a segment. See [`BeginSegment`](https://github.com/aws/aws-xray-sdk-dotnet/blob/40d3c0e924eb8e41c1b28fab073cfd36b4c986f3/sdk/src/Core/AWSXRayRecorderImpl.cs#L151) method.

[2020-02-07 06:10] srprash commented on #82
This feature is certainly on our roadmap and we would definitely like to offer this feature as soon as possible. Please stay tuned for updates.
We also welcome any PR towards this effort.

[2020-02-07 14:40] matthewdouglas commented on #82
If you're using Entity Framework, you can implement `IDbCommandInterceptor` and start a segment on the `*Executing` methods, and end a segment on `*Executed`. Set the namespace to `remote` and use `AWSXRayRecorder.Instance.AddSqlInformation` to annotate with properties like `user`, `database_type`, `preparation`, `sanitized_query`. The interception context will have a property to tell you if there

[2020-02-25 22:34] emonhaider commented on #34
Any update on this?

[2020-02-26 19:25] srprash commented on #34
Hi @emonhaider
I got pulled away from working on this for some time. I sincerely apologize for that. I have the bandwidth now to take it back up. Please stay tuned for updates.

[2020-02-28 18:27] srprash commented on #115
Hi @lethienhoang ,
I am closing this issue due to inactivity. Please feel free to reopen if your question is still unanswered.

[2020-02-28 18:27] #115 closed

[2020-02-28 18:31] srprash commented on #111
Hi @lethienhoang
Closing this issue die to inactivity. In case your question still remains unanswered, feel free to reopen and we will help you out.

[2020-02-28 18:31] #111 closed

[2020-03-02 18:37] srprash commented on #120
Hi @yreynhout
I was testing this for threading issues but couldn't reproduce it. I tested it with a console app which creates segments for multiple threads, and then also tried a webapp invoked by multiple threads concurrently. I would like to know more about how you're testing your webapp. If you can provide a sample code that would be helpful.
Looking at the stack trace, my guess for your case i

[2020-03-02 19:02] yreynhout commented on #120
I'll try to whip up an example by the end of this week and post a gist here (I'm no longer active on the project that ran into this but I still would like to get it resolved).

[2020-03-09 21:58] arminbashizade commented on #109
I'm adding my method inputs as metadata to segments, and I'm seeing this error for a new type, whenever I register an exporter for another. Can you add a simple `ToString` whenever `WriteValue` fails with this error? I believe this exception can't be caught and handled on the app side.

[2020-03-10 14:39] lvanderbijl commented on #26
I think I was setting up xray incorrectly for .net4.6.

When I removed any explicit setup call for the xray recorder, the errors seem to have stopped.

This means, in .net4.6 applications all I do is add the AWSXRayPlugins entry to appsettings and register xray: AWSXRayASPNET.RegisterXRay(this, "WWW"); in global.asax.

I assume I don't need to set up anything further for basic xray logging?

[2020-03-17 00:17] lupengamzn commented on #34
Hi @emonhaider
We are currently working on extending AWS XRay .NET SDK's features to trace sql queries through EF Core. Please stay tuned for further updates.

[2020-03-17 21:32] lupengamzn commented on #26
Hi @lvanderbijl

That should enable tracing on your app, also please take a look at the [instruction](https://github.com/aws/aws-xray-sdk-dotnet#net) if you need more information.

[2020-03-23 23:51] BlueMaegi commented on #26
I'm seeing this error as well, using v2.6.2 with .Net 4.5.
Basic logging works fine, but as soon as I add a custom trace with BeginSegment() it seems to lose it's connection to the HttpContext and throws the EntityNotAvailable exception.

[2020-03-27 05:38] lupengamzn commented on #26
Hi @BlueMaegi

Can you provide some logs or stack trace for the exception? Also if there's a code repo for the project, that would be very helpful.

[2020-04-06 13:53] AlissonRS opened #125 ".NET Core Lambda Function - Entity doesn't exist in AsyncLocal exception"
I'm trying to trace outgoing http requests made in my AWS Lambda function using .NET Core. I followed the steps in the main page, and setup it like this:

Function constructor (not in Handle method):

[code]

then inside the HandleSQS method (SQS trigger handler):

[code]

But I get the error below when I call `GetAsync`, debugging locally using **AWS .NET Core 2.1 Mock Lambda Test Tool**:

![imag

[2020-04-06 14:31] #121 closed

[2020-04-06 14:38] srprash commented on #125
Hey @AlissonRS ,
I am not sure if the **AWS .NetCore 2.1 Mock Lambda Test Tool** appropriately simulates the lambda runtime. In an actual lambda environment, when the function is invoked, the lambda invocation will automatically create a segment.

I would recommend you to try running this code in a lambda function and let us know if you still get this error.

Regards.

[2020-04-06 21:24] AlissonRS commented on #125
@srprash you're right, if I manually add the segment, it works locally, but this would throw exception in the lambda runtime as we can't manually create segments. So now I just need to figure how to detect if the code is running **within lambda environment** or **AWS .NetCore 2.1 Mock Lambda Test Tool**. I think a starting point could be `if (Debugger.IsAttached)`.

[2020-04-07 17:34] albertocorrales opened #126 "OpenTelemetry support"
The OpenTelemetry specification describes the cross-language requirements and expectations for all OpenTelemetry implementations (https://opentelemetry.io/about/).

Right now if we want to use OpenTelemetry to have our dotnet core applications more platform agnostic, we don't have the possibility of using X-Ray.

Regarding dotnet core implementation (https://github.com/open-telemetry/opentelemetry

[2020-04-09 21:11] bhautikpip commented on #126
Hi @albertocorrales,

Thanks for opening this issue. I will add this item to out backlog!

[2020-04-09 21:32] lupengamzn commented on #34
Support tracing for Entity Framework Core 3.0 and above will be included in next version which will be released soon #124

[2020-04-11 02:23] melcloud opened #128 "Microsoft.Data.SqlClient support"
Can we have a `TraceableSqlCommand` which supports the new Microsoft.Data.SqlClient?  System.Data.SqlClient is kind of in maintenance mode only. Thanks

[2020-04-13 22:50] lupengamzn commented on #128
Hi @melcloud

Currently the AWS XRay .NET SDK doesn't support SQL Query tracing for Microsoft.Data.SqlClient. We would like to consider this feature in our future work.

Thanks

[2020-04-14 14:16] srprash commented on #125
Yeah. Seems like the Mock Lambda Test Tool should be able to decide the environment based on some parameters. Maybe if the tool allows setting of environment variables, you can set some value of `LAMBDA_TASK_ROOT` and trick the SDK to think its running in a lambda environment.

[2020-05-22 00:57] priorax commented on #34
@lupengamzn  - I was about to try and implement this in my project, but noticed that this issue is still open, but the commit appears merged + released.
Is it still pending a release, or has this shipped and the issue not closed?

[2020-05-22 07:50] srprash commented on #34
Hi @priorax
The EFCore support has been released in v2.8.0 as a new handler [package](https://www.nuget.org/packages/AWSXRayRecorder.Handlers.EntityFramework/). You can find the usage guide on our README.
Thanks!

[2020-05-22 07:50] #34 closed

[2020-06-02 17:14] luchomejia opened #135 "AWSXRayRecorder.InitializeInstance(configuration) taking almost two minutes in local project initialization."
Is it normal for the InitializeInstance method to take 2 minutes when starting the app?

I am using a Aspnet Core 3.1 app. I am working on capturing telemetry for my requests using XRay, so I am testing this locally. when running my app I have my Startup class constructor like this

[code]

That piece of code is taking almost two minutes before the application completely starts, which seems crazy

[2020-06-02 19:34] lupengamzn commented on #135
Hi @luchomejia

Thank you for bringing up this issue. Do you have a repro code of your application that we can test on our end?

[2020-06-02 19:47] luchomejia commented on #135
Hi @lupengamzn,   thanks for the quick response.

Unfortunately, this is a private repo so I will create a simple test project and try to repro so I can share it with you.

Since I come from an azure background I'm new to most of the aws services, so meanwhile, I would like to know if that `AWSXRayRecorder.InitializeInstance` is normally a method that takes a long time to run or if it is just some

[2020-06-02 21:39] luchomejia commented on #135
@lupengamzn @srprash I was able to reproduce it with a test project.  you can look at it here  https://github.com/luchomejia/testxraynetcore

Context:
I created the test project initially with only one nugget package

`<PackageReference Include="AWSXRayRecorder" Version="2.8.0" />`

With that in place the `InitializeInstance` method was taking around 20 seconds in my startup constructor, before it

[2020-06-08 21:57] lupengamzn commented on #135
Hey @luchomejia ,

Sorry for the late reply

The `AWSXRayRecorder.InitializeInstance(configuration)` API will initialize an `AWSXRayRecorder` instance with configurations extracted from `appsettings.json` file from your application. Please see [Link](https://github.com/aws/aws-xray-sdk-dotnet/blob/b1ade6460bb01fd55e5ae1be65dc408ff2ce6c56/sdk/src/Core/AWSXRayRecorder.netcore.cs#L66). That being sai

[2020-06-12 16:10] luchomejia commented on #135
Thanks @lupengamzn
That's weird, a big difference from what I'm experiencing. I'll try to run it this weekend in a different environment/laptop/network to see if any of that is affecting.

By the way, do you guys have some insights why why it may not work in Elastic Beanstalk, I get the recorders to work and send data from my local to aws using the local daemon, but when I deploy to EB im not gett

[2020-06-12 19:41] lupengamzn commented on #135
Hey @luchomejia

AWS X-Ray .NET SDK is supportive for Elastic Beanstalk. When you deployed your application to EB, have you include the permission for Daemon to send traces to X-Ray in your IAM application role? The policy should include the X-Ray write permission. [Link](https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/concepts-roles-instance.html)

[2020-06-14 22:02] luchomejia commented on #135
Hey @lupengamzn

Tested in a different network, got same results. 1 minute and 20 secons. So i tried to check fiddler looking for possible http requests upon instance initialization and found out a bunch of "Conection Failed" responses because of the requests timing out. Apparently a network issue trying to hit 169.254.169.254.  So I guess that is the reason it is taking that long.

![ConectionFai

[2020-06-15 01:19] srprash commented on #135
Hi @luchomejia
Are you running your application on an EC2 instance? The HTTP "Connection Failed" errors you are seeing correspond to the X-Ray SDK trying to fetch EC2 metadata from an instance local endpoint. Can you make sure you are not including the EC2 plugin in your configuration if you are not using an EC2 instance?

[2020-06-15 01:27] luchomejia commented on #135
Thanks for pointing this out @srprash .

That was indeed my issue. I had both EB and EC2 plugins but I was running in local and that was the reason it was taking so long.  When running in ElasticBeanstalk it is all working fine now after applying the right permissions as per @lupengamzn  answer.

So even though the EB runs in an EC2 instance behind the scenes, I dont need the EC2 plugin when runni

[2020-06-15 15:08] srprash commented on #135
You can chain the two plugins together and get the metadata for both EBS and EC2 instances.
As you said, the reason is that you're running in local and the EC2 plugin takes a while to fail, thus causing the slow down. I think it would be a good idea to add a shorter timeout to the plugin.

[2020-06-17 01:51] luchomejia commented on #135
Yep, I think a shorter timeout, plus some console logs would be really helpful.

Thanks both for the help.

[2020-06-18 20:54] srprash commented on #135
Absolutely. Will add a timeout to the metadata requests. You should see [these](https://github.com/aws/aws-xray-sdk-dotnet/blob/63bb73c4b3a1d0de4629d557e01d0dda9458668a/sdk/src/Core/Plugins/EC2Plugin.cs#L76) statements as debug logs for your application in case of EC2 metadata fetching failure.
Closing this issue now. Happy to help. :)

[2020-06-18 20:54] #135 closed

[2020-07-13 16:31] kinan-ellevation opened #140 "Thread Safety with AWSXRayRecorder.Instance"
Given that [AWSXRayRecorder.Instance](https://docs.aws.amazon.com/xray-sdk-for-dotnet/latest/reference/html/P_Amazon_XRay_Recorder_Core_AWSXRayRecorder_Instance.htm) is a singleton, is using AWSXRayRecorder.Instance thread safe? If not, how can we modify the [sample xray subsegment](https://docs.aws.amazon.com/xray/latest/devguide/xray-sdk-dotnet-subsegments.html) code to guarantee thread safety?

[2020-07-13 17:38] piotrS-bright commented on #125
I've been able to use this trick to skip X-Ray in the Mock Lambda Test Tool:
[code]
and if I need to keep track of Http calls:
[code]

[2020-07-21 22:04] awssandra opened #141 "X-Ray .NET Agent Auto-Instrumentation Agent is now available in beta"
AWS X-Ray .NET auto-instrumentation agent is now available in beta, enabling customers to collect trace data without having to modify existing applications written in .NET and .NET Core.

With the launch of the auto-instrumentation agent, you can trace .NET and .NET core applications targeting Internet Information Services (IIS) with minimum configuration changes and no code changes to your existi

[2020-07-23 05:08] srprash commented on #140
Hi @kinan-ellevation
The X-Ray SDK creates only a single instance of AWSXRayRecorder for the application process. The SDK uses AsyncLocal storage for maintaining the trace context for each thread independently. Any Segment/Subsegment created within a thread is stored in the AsyncLocal of that thread only and therefore using the recorder instance is thread safe.

Are you running into any thread rel

[2020-07-23 18:16] kinan-ellevation commented on #140
Thanks a ton @srprash. I am not running into any issues with thread safety using the SDK. One of my colleagues left a comment on one PR and asked me whether the SDK was thread safe. Alas, I couldn't find this information anywhere. Thank you for providing the answer.

[2020-07-23 18:16] #140 closed

[2020-07-23 18:41] kinan-ellevation commented on #140
My recommendation is to update the documentation to make it clear that the SDK is thread safe so that future generations will find this information easily.

[2020-07-24 20:14] srprash commented on #140
We do have a small section on [multi-threaded execution](https://github.com/aws/aws-xray-sdk-dotnet/tree/master#multithreaded-execution-net-and-net-core--nuget) which mentions the CallContext and AsyncLocal usage. But I agree we can do a better documentation. Thanks!

[2020-07-25 17:18] DamirAinullin commented on #96
Sporadically get similar exception in AWS Lambda:
[code]

Lambda is called by Cloufwatch Event by timer every five minutes. Can you help fix this bug? Any workarounds?

[2020-08-04 17:47] rpopovych commented on #96
Also getting this exception,
[code]

In our case, it's failing to handle an exception from DynamoDB:

[code]

[2020-08-05 19:11] jeffclary opened #142 "Hard to reproduce race condition in RulePoller and TargetPoller"
Found in Version: 2.7.2

I am seeing intermittent null reference exceptions when using XRay in an test environment, specifically running XUnit tests of an API (using Microsoft.AspNetCore.TestHost.TestServer) in a GitLab pipeline.

The TestServer is stopping with this stack trace:

[code]

I believe this snippet from RulePoller.cs contains the code with the problem:

[code]
When `Poll` is first cal

[2020-08-11 20:12] srprash commented on #142
Hi @jeffclary
I really appreciate your deep dive into the issue and presenting a possible root cause analysis. Please allow me some time to understand the issue and hopefully come up with a condition where we can reproduce it.
I'll post an update as soon as possible.
Thanks! :)

[2020-08-13 13:26] kairs commented on #26
We're uploading a large file and we get the same exception.

All we do is registering this in Global.asax

public override void Init()
{
  base.Init();
  AWSXRayASPNET.RegisterXRay(this, "Orakel.Store");
}

A stack trace where this happens, :

Orakel.Store.OrakelStoreAppHost|Entity doesn't exist in HTTPContext|Amazon.XRay.Recorder.Core.Exceptions.EntityNotAvailableException: Entity doesn't exist i

[2020-08-13 15:10] matthewdouglas commented on #26
@kairs That stack trace doesn't look like it is coming from an ASP.NET context. Are you sure you're not using `AWSSDKHandler` somewhere? If this is happening in ServiceStack's service host, you'll want to manually create a `Segment` when your request begins and end it when the request completes.

[2020-08-25 14:38] paulito-bandito opened #144 "Your documentation doesn't mention using `Amazon.XRay.Recorder.Handlers.EntityFramework;` for EF MySQL"
Hi guys,

Could be mistaken. Your documentation (the README.md for this github project) doesn't seem to indicate that we should add the

- `Amazon.XRay.Recorder.Handlers.EntityFramework;`

Package in order to add this to my MySQL connection for Entity Framework.

- `.AddXRayInterceptor()`

Had to find it via this links:

- https://net-immersionday.workshop.aws/6-using-x-ray-in-dotnet-application/8

[2020-08-25 17:10] lupengamzn commented on #144
Hi @paulito-bandito ,

Thanks for the feedback

Yes, you need to install `AWSXRayRecorder.Handlers.EntityFramework` package inside your application to call `AddXRayInterceptor()`.

Sorry for the confusion and we will add this instruction step in the `README.md` file soon.

[2020-08-25 17:14] paulito-bandito commented on #144
Thanks very much, and great project btw. Keep up the great work.

[2020-08-25 18:43] smclewin commented on #142
@srprash any progress on attempts to reproduce this behavior?

[2020-08-25 19:17] lupengamzn commented on #144
Hey @paulito-bandito , this PR has been merged. [@145](https://github.com/aws/aws-xray-sdk-dotnet/pull/145)

[2020-08-26 12:55] matheusmaximo opened #146 "Set RegisterLogger from Configuration"
Hi guys,

Is it possible to set up the RegisterLogger from the configuration?
The issue is, X-Ray logs are very useful to trace issues, but they pollute the logs with too much information when everything is working fine. I would like a way to turn it on just when investigating some issue.
Is there any X-Ray setting for that?

Thanks,

[2020-08-26 13:09] matheusmaximo commented on #146
Just realised now this is the same as AWSConfigs.LoggingConfig.LogTo. I think this is the wrong place for this question. I will close it.

[2020-08-26 13:09] #146 closed

[2020-08-26 16:58] paulito-bandito commented on #144
great!

On Tue, Aug 25, 2020 at 15:18 Lu Peng <notifications@github.com> wrote:

[2020-08-26 17:01] #144 closed

[2020-08-26 18:03] cfbao opened #147 "Update AWSSDK.Core version"
I understand that the goal for 3.x is to remove this dependency entirely, but for now, this dependency is lagging behind other AWS SDKs, and causes warnings in projects that use latest AWS SDKs (which requires a higher version of AWSSDK.Core).

Can a new 2.x release be made to update AWSSDK.Core?

[2020-08-26 21:46] awssandra commented on #147
Hi cfbao,

Completely reasonable ask. Let me get back to you shortly.

Thanks!
Sandra

[2020-08-30 19:29] srprash commented on #142
Hi @jeffclary and @smclewin
I didn't have much success in coming up with a unit test to this condition deterministically. I do feel that `_timer.Change(GetDelay(), 0);` in the TimerCallback `Start` can very well be the cause of the null reference exception.

I think that instead of setting of the Timer right away, the `_timer` member variable should be initialized first and then it can be set off

[2020-08-30 20:11] jeffclary commented on #142
@srprash, that was my exact thought for a fix, that is, construct the timer with an infinite `dueTime`, get it assigned to the `_timer` member, and *only then* set the `dueTime` to zero to cause it to trigger immediately.  You'll probably need to eliminate or at least change the `InitializeTimer` method to make this happen.  I'd probably just move the assignment of `_timer` into that method.

[2020-08-31 22:48] doug-ferris opened #148 "Support for a logging framework other than Log4Net"
At the moment, based on the [README logging on .NET Core only supports log4net](https://github.com/aws/aws-xray-sdk-dotnet/tree/master#logging-net).

Based on the [github page for log4net](https://github.com/apache/logging-log4net):

Given this is no longer being maintained, can this be moved to a more generic logging framework?

Can I suggest finding some way to support a generic ILogger from [Mi

[2020-09-08 03:22] srprash commented on #142
@jeffclary, this should do the trick!
I'll try to address this change as soon as possible. In the meantime, a PR is always welcome :)

[2020-09-08 16:33] lupengamzn commented on #148
Hi @doug-ferris,

Thanks for the feedback.

This request has already been put in our backlog, which will be investigated soon. Please stay tuned and come back later to check.

[2020-09-21 20:56] udlose commented on #128
I am also interested in this.  I had to write a custom wrapper (not rocket-science) but it would be nice if it came "out of the box".

[2020-09-21 23:53] bhautikpip commented on #128
Thanks for bringing this. We have this item in our backlog. Stay tuned for updates!

[2020-09-23 17:23] srprash opened #149 "Using a custom DbCommandInterceptor along with X-Ray's EFInterceptor throws InvalidCastException"
In my sample ASPNetCore Webapp which uses EntityFramework with a Postgresql database context, I have an empty and very basic `DbCommandInterceptor` added to the database context in conjunction with `AddXRayInterceptor` method which adds the `EFInterceptor` to trace EF queries to my postgres db.
When I start the application and try to do a `GET` on the base url (http://localhost:18111/user), I get

[2020-09-23 17:29] srprash commented on #149
Another point is that even though `GET` requests are asynchronous even when just the X-Ray's `EFInterceptor` is being used, the error does not occur. The TraceContext is consistent in this case.

[2020-09-23 17:34] srprash commented on #149
My sample app's `startup.cs`:

[code]

[2020-09-27 19:22] srprash commented on #120
Hi @yreynhout
I'm closing out this issue due to inactivity. Feel free to reopen and provide more info on the issue if you can.
Thanks!

[2020-09-27 19:22] #120 closed

[2020-09-28 07:46] yreynhout commented on #120
Sorry about that - life got in the way :-) I'm fine with closing - I'm sure that _if_ it resurfaces someone will open another issue.

[2020-10-01 16:36] ckuehl commented on #147
Any updates on this? Ideally, we'd like to avoid the build warnings that this is currently generating on all of our projects.

[2020-10-02 19:24] lupengamzn commented on #147
Hi @cfbao @ckuehl, we're currently working on this and will do a new release soon, thanks for the patience

[2020-10-06 10:44] ShaneGH opened #150 "Please release a version of AWSXRayRecorder.Handlers.System.Net which targets AWSSDK.XRay 3.5.*"
We are currently unable to use this package as it targets an old version of AWSSDK.Core through an old version of AWSSDK.XRay

At build time:
project\Shared.Http\Shared.Http.csproj : error NU1608: Detected package version outside of dependency constraint: AWSSDK.XRay 3.3.3 requires AWSSDK.Core (>= 3.3.25.1 && < 3.4.0) but version AWSSDK.Core 3.5.1.23 was resolved.

[2020-10-06 11:12] ShaneGH opened #151 "Please release a version of AWSXRayRecorder.Core which targets AWSSDK.XRay 3.5.*"
We are currently unable to use this package as it targets an old version of AWSSDK.Core through an old version of AWSSDK.XRay

At build time:
error NU1608: Detected package version outside of dependency constraint: AWSSDK.XRay 3.3.3 requires AWSSDK.Core (>= 3.3.25.1 && < 3.4.0) but version AWSSDK.Core 3.5.1.23 was resolved

[2020-10-06 11:14] ShaneGH opened #152 "Please release a version of AWSXRayRecorder.Handlers.AwsSdk which targets AWSSDK.XRay 3.5.*"
The current version of AWSXRayRecorder.Handlers.AwsSdk prevents users from using the latest versions of other Aws Sdks because of its reference to an old version of AWSSDK.Core

[2020-10-06 11:15] ShaneGH opened #153 "Please release a version of AWSXRayRecorder.Handlers.System.Net which targets AWSSDK.XRay 3.5.*"
The current version of AWSXRayRecorder.Handlers.System.Net prevents users from using the latest versions of other Aws Sdks because of its reference to an old version of AWSSDK.Core

[2020-10-09 06:02] sdolier opened #156 "Exception - An item with the same key has already been added"
Hi,

This is a copy of an issue I have logged over on the .net auto instrumentation repo.

https://github.com/aws/aws-xray-dotnet-agent/issues/19

However, I think the fix is to do with the SDK.

We are receiving the following exception intermittently.

[code]

We receive this issue occasionally on application start. Once this issue occurs every request to the application then throws this exceptio

[2020-10-12 21:45] lupengamzn commented on #156
Hey @sdolier ,

Please see https://github.com/aws/aws-xray-dotnet-agent/issues/19

[2020-10-13 05:35] jstallm commented on #110
@srprash , Is this still in the backlog? Its been close to 1 year and I just wanted to make sure. I am running into this same feature need and would like to know what the thoughts are at this point. I would imagine a lot of customers really wanting to trace end to end on an sqs workflow when lambdas are triggered from sqs messages. Here is what things look like today, with SQS messages being the l

[2020-10-19 20:48] srprash commented on #149
Tested this with a simpler and no X-Ray sample app. I've come to the conclusion that its definitely something wrong with AsyncLocal context retention when more than one DbCommandInterceptors are used in the db call chain.
Please find details about the repro code [here](https://github.com/srprash/EFCore_AsyncLocal_TestApp).

[2020-10-26 20:26] srprash commented on #110
Hi @jstallm
Apologies for such a long wait for this support and I really appreciate the patience. I can assure you that we are actively working on this issue and we will provide an update as soon as possible.
Thanks,
Prashant

[2020-10-27 21:01] cfbao commented on #147
I see that the master branch has fixed this issue 🎉
Will a release be out soon?

[2020-10-28 04:00] sdolier commented on #156
Hi,

I have had this fix in our environment for a few weeks now and have not experienced any more of the same exceptions.

[2020-11-02 22:56] lupengamzn commented on #156
Hey @sdolier ,

Sorry for the late response, will take a look at the PR later today

[2020-11-04 00:09] Kralizek opened #158 "Problems with AWS_XRAY_DAEMON_ADDRESS containing host:port"
I am unable to reach the daemon hosted in a contain from another container.

If I set AWS_XRAY_DAEMON_ADDRESS to xray-daemon:2000, I get this:

[code]

I thought of a problem of networking, so I got into one of the application containers and pinged the `xray-daemon` hostname, but it works as expected:

[code]

You can see the whole application here: https://github.com/Kralizek/ToDoList

Steps to r

[2020-11-05 10:44] arturtadel opened #160 "Support for Entity Framework 6 (.net framework)"
Hi!

is there is any possibility to integrate X-Ray with Entity Framework 6 (not .net Core)?
do you have any solution "how to" do that or you have any plans to prepare similar integration as for .net Core?

[2020-11-06 18:53] lupengamzn commented on #147
Hey @cfbao ,

This warning issue is caused by `AWSSDK.XRay` and we're removing it from `AWSXRayRecorder.Core`. #159

We're also working on removing `AWSSDK.Core`, once these two PRs have been merged, a new release will be out soon.

Thanks for the patience

[2020-11-06 19:22] lupengamzn commented on #160
Hey @arturtadel ,

So far we haven't have a plan to support that, but I can definitely add this to our backlog. The solution to integrate EF 6 is similar to EF Core, which only needs to implement [IDbCommandInterceptor](https://docs.microsoft.com/en-us/dotnet/api/system.data.entity.infrastructure.interception.idbcommandinterceptor?view=entity-framework-6.2.0) and initialize it in your application.

[2020-11-09 06:18] srprash commented on #158
Hi @Kralizek
Thanks for providing details of the issue and the steps to reproduce it. We will prioritize to investigate this shortly.

[2020-11-09 15:35] arturtadel commented on #160
I've added a default interceptor similar to in .NET agent. but now when `SqlRequestUtil.BeginSubsegment(command);` is called I can see an error `Entity doesn't exists in HTTPContext`

![image](https://user-images.githubusercontent.com/24475528/98561726-85878280-22a9-11eb-87bd-3822e4493212.png)

[2020-11-09 17:47] lupengamzn commented on #160
Hey @arturtadel ,

The reason why you received this error is because the subsegment can't find its parent segment. Have you instrumented your application with [X-Ray](https://github.com/aws/aws-xray-sdk-dotnet/tree/master#aspnet-framework-net--nuget) handler to generate segment before any subsegment is created?

[2020-11-09 20:26] arturtadel commented on #160
Hi @lupengamzn,
Yes, I've overridden the Init() function in my Global.asax.cs. and before I'm added the interceptor, I was able to trace all requests through X-Ray.

[2020-11-09 21:34] lupengamzn commented on #160
May I know where did you bind your EF 6 interceptor, which may be bonded multiple times and causing this error. Also, a repro will be very helpful if you can provide one.

[2020-11-09 21:47] lupengamzn commented on #156
Hey @sdolier ,

I was working on this issue recently and it turned out it's hard to reproduce on my side. Do you mind providing a sample example that is similar to your use case?

Thanks a lot

[2020-11-09 23:07] johniwasz commented on #147
Add one more developer to the list of folks being hit by these compatibility issues.

[2020-11-10 20:15] lupengamzn commented on #150
Closing this issue as it will be addressed in the next release

[2020-11-10 20:15] #150 closed

[2020-11-10 20:15] lupengamzn commented on #151
Closing this issue as it will be addressed in the next release

[2020-11-10 20:15] #151 closed

[2020-11-10 20:15] lupengamzn commented on #152
Closing this issue as it will be addressed in the next release

[2020-11-10 20:15] #152 closed

[2020-11-10 20:15] lupengamzn commented on #153
Closing this issue as it will be addressed in the next release

[2020-11-10 20:15] #153 closed

[2020-11-12 12:39] arturtadel commented on #160
unfortunately, I can't provide you with the repository.

I will paste some parts of the code here
`Init` function from `Global.asax.cs`
`        public override void Init()
        {
            base.Init();
            AWSXRayASPNET.RegisterXRay(this, "my application");
        }`
for binding Interceptor I've tried few options:
1. in `web.config` (without changes in my `EFConfiguration.cs`)
`<ent

[2020-11-12 13:15] arturtadel commented on #160
Issue solved, it was related to our internal code. we execute some query before the parent segment has been created...

Many thanks for your help!

[2020-11-12 17:34] lupengamzn commented on #160
No problem! And going to close this issue as it's solved, feel free to reopen it if needed.

[2020-11-12 20:56] srprash commented on #158
Hey @Kralizek
What I see from the [`tye.yaml`](https://github.com/Kralizek/ToDoList/blob/220c4ae0a87e9488d4e25a7944002b83a7600fa5/tye.yaml#L19) and the attached log, is that you're setting the env var AWS_XRAY_DAEMON_ADDRESS to the string `xray-daemon:2000` whereas you should set it to the actual address of the daemon like `0.0.0.0:2000` as you have it in your [dockerfile](https://github.com/Krali

[2020-11-12 20:57] Kralizek commented on #158
I'll try it straight away.

[2020-11-12 20:58] srprash commented on #158
Wow! That was fast! :D

[2020-11-12 21:35] Kralizek commented on #158
It didn't work :(

[code]

[2020-11-12 22:39] srprash commented on #158
Sorry. I think I misunderstood it since I don't really know how exactly dotnet tye deploys application to containers. But what you really need to do is, set the AWS_XRAY_DAEMON_ADDRESS to the container host address of the xray daemon container and port to 2000 since that's what daemon listens on.

I'll read more about dotnet tye and give this a try.

[2020-11-13 00:46] Kralizek commented on #158
@srprash
Allow me this shameless plug to the blog post I just posted about it!

https://renatogolia.com/2020/11/12/developing-distributed-applications-with-tye/

[2020-11-16 19:45] srprash commented on #158
@Kralizek Thanks for sharing the blog. It's a good learning for me.
FWIU from [this](https://renatogolia.com/2020/11/12/developing-distributed-applications-with-tye/#service-discovery) section, in order to let your services discover the `xray-daemon`, you'd need to do some bindings to expose the daemon address. Then within your application you can programmatically build the `AWSXRayRecorder` with

[2020-11-17 10:38] Kralizek commented on #158
Hi @srprash
My intention was to use the default port 2000 for the daemon, but I'll try using a custom port to see if it solves the issue.

[2020-11-17 22:55] sdolier commented on #156
Hi @lupengamzn,

I am not able to reliably reproduce the issue.

The exception occurs intermittently during deployment (Elastic Beanstalk). My assumption is that during application start there are many threaded/concurrent outbound http requests causing the issue.

Before this fix I would get the exception every ~1 in 5 deployments. I haven't seen one since converting the context to a concurrent di

[2020-11-19 15:19] chazt3n opened #161 "EntityNotAvailableException"
TL;DR: Am I supposed to make 1000 code changes to actually use xray, or is there an actual way to instrument httpclients, dbcontexts, aws services at a top level of a service without blowing up everywhere?

Do I need to go through my entire app finding places where it will likely explode and introduce change just so I can trace a db context?

HttpClients have very little documentation. In both lis

[2020-11-19 15:28] chazt3n commented on #161
For reference: new relic experience was pretty OOTB. I fully get that I am causing the problem, but it is super frustrating trying to get past the first steps.

![image](https://user-images.githubusercontent.com/3843179/99686635-688d4500-2a49-11eb-9a97-1ae6cb5e5723.png)

[2020-11-19 16:41] chazt3n commented on #161
I found an issue with how I was setting up our kind of foundational nuget packages for building services.
Within it, it provides an extension method that has a call to `ConfigureServices`. Which works and is _additive._ I just found out that `.Configure()` is not, and last call wins. So xray was being setup and then promptly removed.... Will close this but may need to create another with other iss

[2020-11-19 16:41] #161 closed

[2020-11-19 17:20] chazt3n opened #162 "Entity doesn't exist in AsyncLocal - .WithContextMissingStrategy(ContextMissingStrategy.LOG_ERROR) does not work"
The following code still throws a runtime exception when tracing DbContexts/HttpClients/Sdk

[code]

Can there not be a guard that will simply create a segment if one is not found?

It seems better to simply have some tracing data that needs to be improved over time than crippling an application. But I am still ignorant on all things X-Ray.

EDIT: setting AWS_XRAY_CONTEXT_MISSING does nothing

[2020-11-19 18:25] chazt3n opened #163 "What registers HttpClientXRayTracingHandler?"
from [the docs related to httpclientFactory](https://github.com/aws/aws-xray-sdk-dotnet#using-systemnethttphttpclientfactory-net-core-21-and-above)

this code blows up with:

[code]

How do I ensure that that is provided?

[2020-11-19 19:05] chazt3n commented on #141
So this is only for .net core apps with IIS, are there any plans to add this type of setup to Kestrel applications?

Setting it up manually is freaking brutal, so this would be amazing.

[2020-11-19 19:09] chazt3n commented on #141
Is this a replacement for tracing an application or is this actually for setting up a .net core version of a daemon?

[2020-11-19 19:45] willarmiros commented on #162
Hi @chazt3n,

You need to start a [segment](https://docs.aws.amazon.com/xray/latest/devguide/xray-concepts.html#xray-concepts-segments) before making requests using an instrumented HTTP client. You can either manually begin segments or, if using a web app framework, have the SDK [automatically create segments for incoming requests](https://docs.aws.amazon.com/xray/latest/devguide/xray-sdk-dotnet-m

[2020-11-19 20:31] Kralizek commented on #163
Simply add
[code]

[2020-11-19 20:54] chazt3n commented on #163
Thank you.

If I use the autoinstrument agent, will I get XRay functionality without having to pepper my code (which has many entry points other than web requests) with manual xray segments?

[2020-11-19 21:00] lupengamzn commented on #163
Hey @chazt3n ,

If you apply auto instrumentation agent, you don't have to modify your code base and your application will be automatically traced.

[2020-11-19 21:03] chazt3n commented on #162
at Amazon.XRay.Recorder.Core.AWSXRayRecorderImpl.GetEntity()
   at Amazon.XRay.Recorder.Handlers.EntityFramework.EFInterceptor.ProcessCommandError(CommandErrorEventData eventData)
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   at Amazon.XRay.Recorder.Core.Internal.Context.TraceContextImpl.HandleEntityMissing(IAWSXRayRecorder recorder, Exception e, String message)
   at Ama

[2020-11-19 21:07] chazt3n commented on #162
So the littering of segments throughout the code is a tough pill to swallow for us. We have a microservices application with a common nuget package which is responsible for ensuring guaranteed delivery of SQS/SNS messages - services themselves hav many entry points that are not web requests.

Is the Auto-Instrument agent a better option for us?

I just need a way to get this deployed and we can ha

[2020-11-19 21:52] lupengamzn commented on #162
Hey @chazt3n ,

When you're trying to trace the EF Core request, some initialization queries may be executed before a parent segment is created, which causes the `Entity doesn't exist in AsyncLocal` exception, can you double check in your code? Also, a repro would be very helpful if you can provide one.

If you don't feel like modifying your code, you may try the [auto instrumentation agent](https

[2020-11-19 22:19] chazt3n commented on #162
OK I definitely want to go the auto instrumentation route - I'm gonna be a customer for a long time so definitely do plan on contributing - I must prioritize getting to production with some visibility first!

My test setup is Xunit + In Memory Web api using Test Server + Create Client

[code]

During test setup when creating the server, I call useStartup which calls that method.

I'm running in a

[2020-11-23 13:00] #163 closed

[2020-11-24 00:49] willarmiros commented on #162
Going to close this out in favor of the discussion in https://github.com/aws/aws-xray-dotnet-agent/issues/20, @chazt3n feel free to reopen if needed!

[2020-11-24 00:49] #162 closed

[2020-11-27 14:14] mleybsage commented on #147
And another developer waiting for this to be addressed

[2020-11-30 21:07] lupengamzn commented on #156
@sdolier , so we decided to keep this issue open for further discussion and I believe you're not bothered by this issue any more as you're using the library that you've fixed. Once this issue was reproduced on our side, we'll fix it in the next release. Sorry for the inconvenience.

[2020-12-07 19:03] jstallm opened #165 "Adding Annotations and Metadata to parent most trace from within AWS Lambda"
While I can see within the documentation how to create a custom SubSegment within a lambda application, I dont see anywhere how to add an annotation or metadata to the top-most segment.

Unfortunately trying to invoke .AddAnnotation(..)  shown below simply does not result in the data being saved
[code]
After trying the above, no annotations are shown in the AWS console (shown below)
![image](https

[2020-12-07 22:00] lupengamzn commented on #165
Hey @jstallm ,

The `segment` created by Lambda runtime is immutable, thus you'll not be able to add annotations/metadata to it. Lambda only allows adding annotations/metadata to the `subsegment` created by your function code. Please take a look at Lambda's [doc](https://docs.aws.amazon.com/xray/latest/devguide/xray-services-lambda.html)(Scroll down to the bottom of page)

[2020-12-07 22:41] lupengamzn commented on #165
@jstallm , for your second question, you may have multiple `AWSXRayRecorder` instances in your application and they'll all have access to the current trace context so you'll not see the runtime exception. However, a more preferred and suggested way to initialize `AWSXRayRecorder` would be:

[code]
Above method will guarantee that there will be only one `AWSXRayRecorder` instance created.

[2020-12-08 04:40] #165 closed

[2020-12-09 11:34] bravecobra commented on #126
I'm really looking forward to this as OpenTelemetry is now implemented by default in .NET 5.0 (https://devblogs.microsoft.com/dotnet/announcing-net-5-0/).
If it works for java, how hard can it be to add support for .NET?

[2020-12-09 17:26] lupengamzn commented on #126
Hi @bravecobra ,

We've been working with OpenTelemetry to add support for X-Ray in .NET. Please stay tuned and come back later to check.

[2020-12-14 22:09] #156 closed

[2020-12-14 22:10] lupengamzn commented on #156
@sdolier , thanks for the patience.

The `XRay` dictionary belongs to `AWSXRayRecorder` instance, which can be accessed by segments of multiple threads within the same application. It's safe to use regular `Dictionary` if multiple segments will only be reading values from it, but will not be thread-safe if segments are trying to [modify](https://github.com/aws/aws-xray-sdk-dotnet/blob/8461c354d783

[2020-12-15 11:03] johankvint opened #166 "Naming of SNS segment"
Not sure how to formulate this, but here we go.

So when using SNS client in dotnet with XRay, the subsegment/document is named `SimpleNotificationService` where as when I use SNS client in node with XRay the subsegment/document is named `SNS`.

This causes them to be shown in different ways in XRay console where the `SNS` naming seems to be "correctly" interpreted as a SNS node.

I have two servi

[2020-12-15 19:45] lupengamzn commented on #166
Hey @johankvint ,

Thanks for pointing this out

X-Ray SDK will adopt the AWS SDK request name as the subsegment [name](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/sdk/src/Handlers/AwsSdk/Internal/XRayPipelineHandler.cs#L322), and seems like there is a naming difference between .NET and other languages of AWS SDK. I've tested JS, Java as well as Python SDK and they're all adopting `SNS`

[2020-12-15 20:54] johankvint commented on #166
@lupengamzn I was suspecting that was the case. I guess more service will give the wrong name then as well.
Maybe you could use the `ServiceId` from meta data instead?
https://github.com/aws/aws-sdk-net/blob/37bc48277594d96f20122fad9c5e136730c27f26/sdk/src/Services/SimpleNotificationService/Generated/Internal/AmazonSimpleNotificationServiceMetadata.cs#L38

That seems to have the correct value for

[2020-12-16 10:51] bbolek opened #167 "Hide information on connection string"
Hello;

We can see all details in connection string except password. [Remove Password Line](https://github.com/aws/aws-xray-sdk-dotnet/blob/8a9c600ee656a22b2a28bf873d2d069a69c8b9d9/sdk/src/Handlers/EntityFramework/EFInterceptor.cs#L303)

We do not want to display user name and host information. I could not find a way to accomplish this.

Can you provide us a way to hide these information as well?

[2020-12-16 11:04] Encilo commented on #167
Yes it would be really good to have control over this since other parts of the connection string are sensitive as well.

Thanks

[2020-12-18 16:16] ckuehl commented on #147
@lupengamzn Is there anything else outstanding before cutting a release that fixes this?

[2020-12-22 01:08] lupengamzn commented on #166
Hey @johankvint , we've decided to add a checker when creating SNS subsegment so that the subsegment name to SNS service would be recorded as `SNS` instead of `SimpleNotificationService`. This fix will be included in the next release.

[2020-12-22 02:07] lupengamzn commented on #167
Hi @bbolek @Encilo ,

Thanks for the feedback

This is indeed a necessary feature that we need to pay attention to. As this occurs across all X-Ray SDKs, we would need to figure out a way to control the recording of some of the confidential information while tracing SQL queries. I will put this issue into our backlog and hopefully we can address it soon.

[2020-12-31 14:30] julealgon commented on #148
I was going to create an issue regarding the use of a custom internal `ILogger` in the XRay middleware:

![image](https://user-images.githubusercontent.com/461579/103414108-43691780-4b5b-11eb-9484-af15e02ebcb8.png)

I was really surprised when I found out you were not using the native interface from `Microsoft.Extensions.Logging` in there.

Log4net is a very legacy logging library in the .Net ecos

[2020-12-31 15:20] julealgon opened #170 "Poor documentation around AspNetCore integration requirements"
The [documentation for integrating XRay in a .Net Core application](https://docs.aws.amazon.com/xray/latest/devguide/xray-sdk-dotnet-messagehandler.html#xray-sdk-dotnet-messagehandler-startupcs) currently mentions several other middlewares in the code samples without providing an actual explanation about why they are included.

The docs mention having to add `UseExceptionHandler` as well as `UseSt

[2021-01-04 22:35] lupengamzn commented on #170
Hey @julealgon ,

Thanks for pointing this out and we'll be updating the user guide and API doc soon.

[2021-01-06 12:49] julealgon commented on #170
Thanks @lupengamzn !

Could you please bump/close this issue once the docs are updated?

[2021-01-15 00:22] lupengamzn opened #172 "AppVoyer configuration issue"
AppVoyer will build sdk without [signing](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/appveyor.yml#L12) the assemblies, in this case, `dotnet cli` will override project's default building properties and unit test library will not have accessibility to the internal class/APIs without a strong name signature, leading to a building failure.

CC: @srprash @yogiraj07

[2021-01-15 00:37] lupengamzn commented on #172
#171 met this issue

[2021-01-19 06:06] arturomonge opened #174 "EntityFramework Handler does not work with EF5"
The current EntityFramework Handler does not work with the new EntityFramework 5.0. **No exceptions are raised and no indications are given of any problem**. The handler simply does not work.

After some research, the problem is generated because the [IDbCommandInterceptor](https://docs.microsoft.com/en-us/dotnet/api/microsoft.entityframeworkcore.diagnostics.idbcommandinterceptor?view=efcore-5.0)

[2021-01-19 06:23] arturomonge commented on #174
I've opened the following pull requests to address this problem in two possible ways:

https://github.com/aws/aws-xray-sdk-dotnet/pull/175 : Upgrades the existing EntityFramework NuGet package with EF5 support and bumps version.
https://github.com/aws/aws-xray-sdk-dotnet/pull/176 : Adds a new EntityFramework5 NuGet package with EF5 support.

There is also a pull request that was previously opened

[2021-01-20 19:53] #172 closed

[2021-01-25 02:14] erwan-joly opened #177 "Method not found BeginSubsegment"
For some reasons my build pipeline is not able to use AWSXRayRecorder.Handlers.AspNetCore 2.7.1
everything works fine with AWSXRayRecorder.Handlers.AspNetCore 2.5.2 but when I do bump to 2.7.1 it start to fail on build pipeline (locally it works fine)

xunit on linux throws:

`System.MissingMethodException : Method not found: 'Void Amazon.XRay.Recorder.Core.AWSXRayRecorderImpl.BeginSubsegment(Syst

[2021-01-25 16:33] awssandra commented on #177
Hi erwan-joly,

Looks like this is a generic issue, with NuGet projects and possibly old DLLs hanging around: https://stackoverflow.com/questions/8058832/system-missingmethodexception-method-not-found

Can you do a sanity check to see if anything from 2.5.2 is hiding?

[2021-01-25 23:38] lupengamzn commented on #174
Hey @arturomonge ,

Thank you for the contribution

Currently we would like to keep the support for tracing Entity Framework in a single nuget package that customer can download to trace EF Core & EF 6. And implementing the [IDbCommandInterceptor](https://docs.microsoft.com/en-us/dotnet/api/microsoft.entityframeworkcore.diagnostics.idbcommandinterceptor?view=efcore-5.0) for .NET 5 will introduce a

[2021-01-26 00:24] arturomonge commented on #174
Understood, @lupengamzn. I'll close the pull requests and wait until you come up with a solution. Meanwhile, I created our own internal package specifically for EF5 using the modified sources, so we are not currently blocked by this.

[2021-01-27 02:56] erwan-joly commented on #177
Yes that was the reason :)

[2021-01-27 02:56] #177 closed

[2021-01-27 21:31] lupengamzn commented on #170
Hey @julealgon ,

The [developer doc](https://docs.aws.amazon.com/xray/latest/devguide/xray-sdk-dotnet-messagehandler.html#xray-sdk-dotnet-messagehandler-startupcs) has been updated.

Closing this issue as it's addressed

[2021-01-27 21:31] #170 closed

[2021-01-27 22:08] julealgon commented on #170
Thanks for the update @lupengamzn . I checked the new docs and they solve all the issues I raised: they are a lot more precise and clear now.

[2021-02-08 16:41] ShaneGH opened #178 "Please release code which updates dependencies to AWSSDK.Core 3.5.*"
The code change/fix for the following issues has not been released to nuget

https://github.com/aws/aws-xray-sdk-dotnet/issues/151
https://github.com/aws/aws-xray-sdk-dotnet/issues/152
https://github.com/aws/aws-xray-sdk-dotnet/issues/153

![image](https://user-images.githubusercontent.com/3628842/107251521-56111f00-6a2c-11eb-9778-9ca8f8206dea.png)

[2021-02-09 11:00] PauliusLe commented on #174
@lupengamzn what is the reason for closing this issue? I am also waiting for EF core 5 support

[2021-02-11 16:03] smclewin commented on #142
@srprash so far as we can tell the merged fix is not yet in a published version.  Is that the case?  Or is there a version of X-Ray we can pull into our projects that can address the race condition @jeffclary  reported?

[2021-02-11 16:08] srprash commented on #142
Hi @smclewin . Right. We are due for a release very soon which will have this fix. I'll update the issue as soon as the new version is available. Please stay tuned.
Thanks.

[2021-02-11 22:21] udlose commented on #147
@lupengamzn  any updates here? TIA

[2021-02-14 16:12] arturomonge commented on #174
@lupengamzn I agree, this issue should not be closed, as this is still an outstanding request that needs to be addressed. I don't see any other issue open regarding EF Core 5 support.

[2021-02-15 23:33] lupengamzn commented on #178
Hey @ShaneGH ,

Sorry for the late reply!

Previously we didn't have the bandwidth for the new release and now we're in the process of doing it, the new release will be out hopefully in a week or two.

[2021-02-15 23:35] lupengamzn commented on #174
Hey @PauliusLe  @arturomonge ,

Sorry for the confusion and just reopened it for the purpose of tracking.

[2021-02-16 15:01] ShaneGH commented on #178
Thanks for that. I'll keep an eye on this issue

On Mon, 15 Feb 2021, 23:33 Lu Peng, <notifications@github.com> wrote:

[2021-02-25 02:09] lupengamzn commented on #126
Hey @albertocorrales @bravecobra ,

AWS Distro for Opentelemetry .NET SDK is released today, please take reference to:

Blog:
- https://aws.amazon.com/blogs/opensource/aws-distro-for-opentelemetry-adds-net-tracing-support/

User guide:

- https://aws-otel.github.io/docs/getting-started/dotnet-sdk

Nugets:

- [OpenTelemetry.Contrib.Extensions.AWSXRay](https://www.nuget.org/packages/OpenTelemetry.Co

[2021-02-25 21:23] albertocorrales commented on #126
This is awesome news, I'm looking forward to using the new SDK for OpenTelemetry. Great job guys!!!

[2021-02-25 21:23] #126 closed

[2021-03-01 15:27] bitshop commented on #142
We also appear to be encountering this error, given the PR exists we didn't deep dive into it.  Any ETA on release or do you recommend we building from source as a work around? I see some other items are work in progress so assume it's not ready to publish (?)
Thanks.

[2021-03-02 17:27] btecu commented on #174
Any update on this?

[2021-03-02 23:23] lupengamzn commented on #178
Hey @ShaneGH ,

Thanks for the patience, the X-Ray .NET SDK v2.10.0 has been released.

https://www.nuget.org/packages?q=awsxrayrecorder

[2021-03-02 23:24] lupengamzn commented on #142
Hey @bitshop ,

The X-Ray .NET SDK v2.10.0 has been released.

https://www.nuget.org/packages?q=awsxrayrecorder

[2021-03-03 20:35] btecu commented on #178
@lupengamzn `2.10.0` is still referencing `AWSSDK.Core` `3.3.x` instead of `3.5.x`.

[2021-03-03 20:57] lupengamzn commented on #178
Hey @btecu ,

The previous .NET SDK referenced to `AWSSDK.XRay` `v3.3.3`, which will cause the build time [error/warning](https://github.com/aws/aws-xray-sdk-dotnet/issues/151) when `AWSSDK.Core` dependency in your application is newer than `v3.4.0`. For .NET SDK `v2.10.0`, we removed `AWSSDK.XRay` dependency and you should be able to install and use the latest AWS SDK in your application. Do you

[2021-03-03 22:31] lupengamzn commented on #147
Hey guys,

X-Ray .NET SDK `v2.10.0` has been released, which resolved the compatibility issue (**NU1608**) caused by `AWSSDK.Xray` while using the latest AWS SDK.

https://www.nuget.org/packages?q=awsxrayrecorder

[2021-03-04 01:08] #160 closed

[2021-03-04 14:25] ShaneGH commented on #178
@lupengamzn  @btecu

Thanks!

[2021-03-04 16:09] btecu commented on #178
@lupengamzn I still have to include a reference to `AWSSDK.Core Version="3.5.x"` because the application is using a library that uses the newer `S3` (with `AWSSDK.Core`) and it causes an issue because the XRay Recorder references the `AWSSDK.Core` `3.3.x`.

[2021-03-04 17:40] lupengamzn commented on #178
@btecu When both dependencies have the same sub-dependency at the same distance, it should be resolved. See [Cousin dependencies](https://docs.microsoft.com/en-us/nuget/concepts/dependency-resolution#cousin-dependencies).

Can you post what warning/error you're getting when you installed X-Ray .NET SDK?

[2021-03-08 23:25] lupengamzn commented on #174
Hey @btecu ,

Currently there is no ETA on this, will leave this thread open for update.

[2021-03-08 23:37] lupengamzn commented on #166
Hey,

AWS X-Ray .NET SDK v2.10.0 has been released, which should have solved this issue.

Closing this thread

[2021-03-08 23:37] #166 closed

[2021-03-08 23:37] #147 closed

[2021-03-11 19:22] bruceharrison1984 commented on #174
FYI, this is very easy to hack in by re-implementing a new DbInterceptor and copying a cut-down version of EFUtil in to your own project. Swapping Task<> to ValueTask<> is all it takes.

[DbInterceptor EF5 example](https://gist.github.com/bruceharrison1984/6cd2768fd2a3c865d17b16f29787b2fe)
[EFUtil EF5 example](https://gist.github.com/bruceharrison1984/8fff9633f3a7ea2c9f9b56361423e16e#file-hack-efu

[2021-03-23 18:14] willarmiros commented on #103
Apologies for not corresponding on this issue for some time. The workaround provided by @benhilty is the recommended approach for preventing this runtime exception. Since these requests are happening on a background thread and not part of handling a user request, there is no guarantee the necessary context to trace these requests will be available. It is therefore recommended to just use `IGNORE_E

[2021-04-01 21:15] AlissonRS commented on #125
Found another way to solve this, also [posted in Stack Overflow](https://stackoverflow.com/questions/62934979/getting-error-entity-doesnt-exist-in-asynclocal-when-trying-to-call-createba/66911478#66911478).

In appsettings.Development.json add this:

[code]

The important bit is the DisableXRayTracing equals true.

Make sure your appsettings.Development.json is set to Copy Always in the properties

[2021-04-01 23:19] #125 closed

[2021-04-07 19:31] lukewis opened #192 "Feature Request / Question: Can/Should HttpClientXRayTracingHandler use ConfigureAwait(false)"
Consider the following ASP.NET code (recognizing that it does **not** follow async best practices)
[code]

The first method works, while the second one, that uses the X-Ray handler results in a deadlock.  My question is, would it be possible to update HttpClientXRayTracingHandler.SendAsync() as follows
Old:
[code]
New:
[code]
(using ConfigureAwait(false)), or does the handler itself rely on the sy

[2021-04-12 14:32] nimatt commented on #110
I really needed this to be able to see proper traces, so I created a workaround until we get an official alternative.

**Warning**: The code is using reflection to modify the SDK behaviour and with that allow creation of segments. This is of course very fragile and could break with an update. So use on your own peril...

Also note, that this does of course not give you Initialization and Overhead

[2021-04-26 12:00] Kralizek opened #195 "Support for GRPC services"
I'm creating a system that is composed by multiple grpc services and I wanted to use x-ray to observe them.

Currently, as far as i noticed, there is no support for GRPC services (besides the one available for asp.net core applications). At the same time, on the client side, when setting up the http client, you can attach the x-ray handler.

This causes the odd behavior that a faulty request to a

[2021-04-27 00:48] willarmiros commented on #195
@Kralizek thank you for the feature request. You are correct that we currently do not support instrumenting gRPC clients, and it is not currently on our roadmap to do so. We are always open to pull requests if you'd be willing to contribute. AWS is also working on the AWS Distro for OpenTelemetry, which is a unified set of SDKs to collect all your traces and metrics. The .NET OpenTelemetry SDK sup

[2021-04-27 21:04] bruceharrison1984 opened #196 "Inject TraceID in to log messages"
The Java SDK exposes AWS-XRAY-TRACE-ID in the MDC to allow for easily adding TraceID to log messages, which allows ServiceLens to marry up X-Ray segments and log messages. It would be great to have this same behavior within the C# library, or at least an easy to access value for adding traceId to log messages in a similar fashion.

From the Java X-Ray SDK:
`
To expose the current fully qualified t

[2021-05-07 20:24] srprash commented on #196
Hi @bruceharrison1984
Thanks for opening this feature request. We have added this item in a backlog. However, due to all our efforts currently directed towards developing X-Ray support for OpenTelemetry .Net, it may not be prioritized soon.
If you'd like to contribute the implementation for this feature, I'll be happy to review. :)

Thanks!

[2021-05-10 19:59] brendonparker opened #197 "Struggling to get X-Ray working in .NET Core"
Hoping this is the right place for this kind of question/issue.

I'm using a dotnet core 3.1 Lambda behind an API Gateway. The X-Ray bits seem to work from the AGW -> Lambda, but I'm not seeing any instrumentation from within the lambda itself.

This is what I've got as far as code:

Package references:
[code]

Startup.cs:
[code]

Controller:
[code]

All I get in the trace is:
[code]

So I'm missi

[2021-05-11 12:21] brendonparker commented on #197
Here is a sample repository: https://github.com/brendonparker/ApiGatewayResearch

[2021-05-11 12:31] brendonparker commented on #197
Figured it out. I didn't have tracing enabled on the Lambda Function 🤦

https://github.com/brendonparker/ApiGatewayResearch/commit/af1356f0b824dfc4c806eb7a6ceaac34660aafa4

[2021-05-11 12:31] #197 closed

[2021-05-13 23:53] dr3x opened #198 "Unable to cast object of type '...FacadeSegment' to type '...Subsegment'"
Getting a cast error in Lambda execution; we're using a simple flow within a controller (Microsoft.AspNetCore.Mvc.ControllerBase):

[code]

Docs indicate that we need to call the .End* method for every .Begin* method; so I put the .End* call in a C# finally block to ensure it always gets invoked, even if an error gets caught and execution returns early.

Here _logger is the standard MS ILogger:
pr

[2021-05-14 00:11] srprash commented on #198
Hi, looks like the `BeginSubsegment` is failing to either create a subsegment or load it in the context. As a result, when `EndSubsegment` expects a subsegment to be present, it finds the root `FacadeSegment` instead.

Can you make sure that `nameof(MyController)` is not returning an empty string or null? Do you see any logs related to failure to begin a subsegment?

[2021-05-14 00:48] #178 closed

[2021-05-19 00:21] williamdenton commented on #110
@nimatt do you think it would be safer to change the behaviour of `IsLambda()` by momentarily removing then putting back this env var rather than replacing with reflection when calling Begin|EndSegment?

https://github.com/aws/aws-xray-sdk-dotnet/blob/d2b64125ecdd734af220795d5b102bd96b037981/sdk/src/Core/AWSXRayRecorder.netcore.cs#L36

https://github.com/aws/aws-xray-sdk-dotnet/blob/d2b64125ecdd73

[2021-05-19 09:49] Xocix opened #201 "Sensitive query string"
Hi!

I am trying to figure out if it is possible to hide sensitive query string when running Xray with a .net core web api project and i cant seem to find anything by looking in the code, but maybe i am missing something?

I see that other language SDK's had similar issues:
https://github.com/aws/aws-xray-sdk-node/issues/246
https://github.com/aws/aws-xray-sdk-go/issues/227

Basically what i am tr

[2021-05-24 22:48] goacoustic commented on #110
@nimatt @williamdenton Yep, I've used this approach - for me, it seems a bit better than unsafe code.

Anyway, I believe this should be implemented in the X-Ray itself because this is still 2 separate traces, just a hack to see both of them in the service map.

[code]

[2021-05-26 21:31] williamdenton commented on #110
@srprash its been a few months since you last posted, any progress on an official response to this issue?

[2021-06-01 04:34] srprash commented on #201
Hi @Xocix
Sorry, I'm a bit confused as to which HTTP request are we concerned about here. Given the other issues you've linked I believe you are looking to strip off the query parameters from the _outgoing_ HTTP requests and not from the _incoming_ HTTP request to your application. Is that right?

[2021-06-06 10:59] MadSciencist opened #202 "LitJson GUID type support"
Hi.

Looks like the LitJson used for serialization does not properly handle GUID types.

Minimum code to reproduce it:
[code]
The error: ThirdParty.LitJson.JsonException: Max allowed object depth reached while trying to export from type System.Guid.

Is there any workaround for it? Is such behavior documented?
Might be related: https://github.com/aws/aws-xray-sdk-dotnet/issues/109

Thanks,
Mateusz

[2021-06-07 10:30] Kralizek opened #204 "How to disable console logging during testing?"
Hi,

I have a ASP.NET Core web application that has been instrumented with the AWS XRay SDK.

When I test said application using the `Microsoft.AspNetCore.Mvc.Testing`, I get the full output of the XRay SDK swamping the test results.

Is there a way to disable the output only for the testing?

This is the relevant part of the `Startup.cs` in my application under test

[code]

I tried disabling tra

[2021-06-07 17:29] srprash commented on #204
Hey @Kralizek
In reality, disabling the X-Ray SDK doesn't completely shuts the SDK off. What it does is bypass some of the tracing context population to reduce overhead and skip streaming the trace out. Some of the SDK code paths are still hit. That's why you see all those logs even when the SDK is disabled.
Another thing is that the console logger doesn't provide much of configuration and will lo

[2021-06-09 20:43] kvattikuti opened #205 "question | missing subsegments"
So I have been experimenting with X-Ray with API Gateway + Lambda that uses SQS, SNS and Kinesis service clients. Works great, shows all the segments logged by service clients. I added a subsegment in FunctionHandler method, and that also is traced and shown in the X-Ray traces. It was great.

However, we use Mediatr framework (and Lamar for DI) that for our request handling/ processing. I added s

[2021-06-09 21:16] kvattikuti commented on #205
Correct, in the Lambda, I am adding a subsegment which shows up correctly in the traces just to see if it will show up and it does!

`AWSXRayRecorder.Instance.BeginSubsegment("FunctionHandler"); `

You can see "FunctionHandler" in the screen shot.
<img width="1555" alt="Screen Shot 2021-06-09 at 5 08 39 PM" src="https://user-images.githubusercontent.com/1224094/121430059-9d111180-c945-11eb-839a-4a

[2021-06-09 21:33] kvattikuti commented on #205
And I call Mediatr like this in the scope of the FunctionHandler:
[code]

[2021-06-09 22:41] kvattikuti commented on #205
So are you saying if a Lambda function handler calls another sync/ async method of different class and I cannot begin a new subsegment in that method? I probably don't understand the internals of the implementation, why would that make a difference, isn't it the same thread though?

[2021-06-10 02:06] lupengamzn commented on #205
@kvattikuti , Thanks for providing the code snippets. So the Lambda handler will invoke the Medaitr to process downstream business and later will update the Postgres database, and you're seeing the traces of Medaitr block, but not seeing the Postgres block. If this is the case, seems like there is something wrong creating/ending the `DeliverToDb` subsegment. Can you check the Lambda log to see if

[2021-06-10 10:09] kvattikuti commented on #205
Sorry, it is just me being a giant idiot. I was running the wrong test so obviously not seeing what I am expecting. Thanks for the help and super quick response.

[2021-06-10 10:09] #205 closed

[2021-07-14 10:45] tmitchel2 commented on #96
Also getting this exception.  Stack trace is exactly the same as above.

[2021-07-19 23:22] AlissonRS opened #207 "Skip OPTIONS requests"
Hello!

I noticed in my app most traces are "OPTIONS" requests sent by browsers.

Is there a way we can skip these requests?

![image](https://user-images.githubusercontent.com/4753901/126239512-db790b83-f564-4db3-a50e-6fc93fab278b.png)

[2021-07-21 21:19] DanielLaberge commented on #196
@srprash In the meantime, is there any way to get application logs to show up in XRay Traces?

[2021-07-24 14:43] bruceharrison1984 commented on #196
@DanielLaberge I'm curious to know this as well.

@srprash
Is the current TraceId available in a statically accessible location so it can be added to log messages? And if so, what format does it need to appear in the logs for ServiceLens to take advantage of it?

[2021-07-26 21:26] willarmiros commented on #207
Hi @AlissonRS,

You can choose not to trace requests with method `options` by creating a sampling rule that matches all requests with HTTP method "OPTIONS" and has a sampling rate of 0%. This should effectively prevent any such segments from being sent to X-Ray. See more [in our sampling docs](https://docs.aws.amazon.com/xray/latest/devguide/xray-console-sampling.html#xray-console-sampling-options

[2021-07-26 21:26] #207 closed

[2021-07-27 01:41] AlissonRS commented on #207
Yeah seems like this is not working.

I added a `sampling-rules.json` in my .NET Core project, set it to "Copy Always" to ensure it goes with compiled app:

[code]

And added it in my `appsettings.json` and even `appsettings.Development.json`:

[code]

But when I debug, the `SamplingRuleManifest` is null:

![image](https://user-images.githubusercontent.com/4753901/127081001-a64e7f95-c1d9-4747-a355

[2021-07-27 05:02] AlissonRS opened #208 "Skip Traces Conditionally"
How can we skip traces conditionally in a .NET Core API project?

I understand we can skip some cases using Sampling (e.g for skipping specific paths or http methods) as explained in #207 but what if we have more cases that can't be handled by this `sampling-rules.json` config file?

My initial idea was using a middleware to override the `SamplingStrategy` like below:

    // startup.cs
    Config

[2021-07-27 05:02] AlissonRS commented on #207
@willarmiros I just created a new issue with my specific requirement, and provided what I tried so far.

[2021-07-29 14:15] jon-armen opened #209 "Adding the same exception to the xray trace handler in different subsegments throws a null reference exception"
This code should work, however currently throws a null reference exception because the existing cause does not have an exception associated.

[code]

[2021-07-29 20:22] srprash commented on #196
@DanielLaberge @bruceharrison1984
The trace id to log correlation involves 2 pieces to work:
1. A resource plugin (EC2 or ECS) on the X-Ray SDK to record the log-group id on the trace data. https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/deploy_servicelens_CloudWatch_agent_logintegration.html
2. Trace-id and segment-id injection to CloudWatch logs in a specific format. https://docs.

[2021-08-01 18:11] bruceharrison1984 commented on #196
@srprash I appreciate you closing the loop on this 👍

[2021-08-02 02:05] harikantkumar opened #211 "How to trace postgresql query"
I am using https://www.npgsql.org/doc/api/Npgsql.NpgsqlConnection.html and https://martendb.io/getting_started/
to connect C# .net core app with postgresql. Please help me how we can enable sql tracing

[2021-08-02 17:49] willarmiros commented on #211
Please see: https://docs.aws.amazon.com/xray/latest/devguide/xray-sdk-dotnet-sqlqueries.html

[2021-08-02 17:49] #211 closed

[2021-08-05 22:12] kdprince opened #212 "LitJson does not properly handle models that contain recursive public properties. Examples: Guid, DateTimeOffset"
[code]
Max allowed object depth reached while trying to export from type System.DateTimeOffset

Infinite recursion here: https://github.com/aws/aws-xray-sdk-dotnet/blob/master/sdk/src/Core/ThirdParty/LitJson/JsonMapper.cs#L828

This is most likely same issue as https://github.com/aws/aws-xray-sdk-dotnet/issues/202

[2021-08-06 06:21] harikantkumar commented on #211
@willarmiros

Thank you for your resposne, I am not using entity framwork
My application  is using  https://www.npgsql.org/doc/api/Npgsql.NpgsqlConnection.html and https://martendb.io/getting_started/

[2021-08-12 02:38] thinkOfaNumber commented on #57
Hi @yogiraj07, I'm using AWSXrayRecorder 2.10.1 in a dotnet core 3.1 web api app and have come across this in my local environment.

Some notes:
1. in my startup configure function I'm using:
[code]
2. an error was thrown within an async http request (while locally testing the web app)
3. I have configured error handling in startup.cs: `app.UseExceptionHandler("/error");`
4. in my error handler ro

[2021-08-13 15:51] yngndrw opened #213 "[EF6] Incorrectly sanitised subsegment name"
Hello,

When using the EF6 XRay interceptor (`AWSXRayEntityFramework6.AddXRayInterceptor()`), [the subsegment name is based upon the database name and the connection data source](https://github.com/aws/aws-xray-sdk-dotnet/blob/master/sdk/src/Handlers/EntityFramework/EFUtil.cs#L88-L89).

[The port number is removed from the connection data source](https://github.com/aws/aws-xray-sdk-dotnet/blob/mas

[2021-08-16 22:02] lupengamzn commented on #209
Hi @jon-armen ,

Thank you for bringing this up

This is indeed an edge case issue in X-Ray SDK while serializing duplicate exception. In the second `catch` statement, as the `AmazonServiceException` from previous step has already been recorded, SDK will only record the [Cause](https://github.com/aws/aws-xray-sdk-dotnet/blob/d2b64125ecdd734af220795d5b102bd96b037981/sdk/src/Core/Strategies/DefaultE

[2021-08-16 22:41] jon-armen commented on #209
Awesome, thank you @lupengamzn .  If it helps, I submitted #210 as a potential fix.

[2021-08-22 22:00] srprash commented on #213
Hi @yngndrw
Currently we are only sanitizing the port number from the connection string, but as you pointed out in your case, if the data-source contains `(` or `)`, it will be rejected by the X-Ray service since the segment/subsegment names can only contain [these](https://docs.aws.amazon.com/xray/latest/devguide/xray-api-segmentdocuments.html#api-segmentdocuments-fields) valid characters.

I loo

[2021-09-30 08:03] Kralizek opened #214 "Forward trace context to AWS Batch job"
Hi,

In my application I have a step where an API call eventually submits a job to Batch. The application performing the task will then call other services and consume other AWS services.

What's the best course of action for the calling application to forward the trace context to the application being used by Batch to perform the job?

I guess I can pass the trace-id as a parameter to the applica

[2021-10-04 22:09] lupengamzn commented on #214
Hi @Kralizek,

Does the API call an Asp.Net(Core) application? If so, you can follow the implementations as usual and X-Ray's Asp.Net handler will automatically fetch and parse the upstream trace id for you. If not, you may have to manually parse the trace id and pass it to the segment that you create for this application.

[2021-10-29 16:39] dcorbett-radian opened #216 "AWSXRayRecorder.Handlers.AwsSdk has transitive dependence on Microsoft Package with Security warnings"
When I add this package to an empty 3.1 Console project, I get Microsoft.AspNetCore.Http.dll version 2.0.0.17205

According to Nexus / Sonatype, this has a vulnerability reported by Microsoft.

https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-1045

I am using the most recent version of this SDK.   Any suggestions?

[2021-11-02 11:45] dcorbett-radian commented on #216
I believe this would be fixed by PR https://github.com/aws/aws-xray-sdk-dotnet/pull/215 which has been approved...    Please let me know when that is merged, and a new nuget version has been pushed including that.

[2021-11-02 16:05] jayantlad opened #217 "CloudWatch log blocked with AWSSDKHandler.RegisterXRayForAllServices();"
We've integrated this NuGet into a NetCore API, 3.1 app. We have followed the guides in the docs.  And we have experienced the following behaviours

We are unable to call AWSSDKHandler.RegisterXRayForAllServices(); as we see no logs emitted to CloudWatch. We believe there is a bug here.

Calling register for each AWS service, blocks cloud watch logs
AWSSDKHandler.RegisterXRay<IAmazonDynamoDB>();
A

[2021-11-24 14:05] Kralizek opened #219 "How to add annotations for every request?"
I have an ASP.NET Core application and I want to add an annotation to the trace of each request flowing through this application and I wonder what's the best approach.

My first idea would be to use the `Startup` constructor but I'm not sure if that would work.

[code]

Alternatively, I was considering adding an extra step in the pipeline add the snippet below in the `Configure` method

[code]

Id

[2021-12-06 09:11] Happi-cat commented on #96
getting same on awsxrayrecorder.core 2.10.1
[code]

[2021-12-10 15:41] napalm684 opened #220 "AWS IoT SDK Support"
I have enabled X-Ray tracing for a lambda function using the `AWSSDKHandler.RegisterXRayForAllServices()` method of the X-Ray SDK. Nuget AWSXRayRecorder.Handlers.AwsSdk (v2.8.3) was installed. It is now recording DynamoDB calls in my service map for me, but I noticed that none of the AWS IoT SDK calls are displaying in the service map. Is this not supported yet? Visibility to these service calls w

[2021-12-13 22:17] lupengamzn commented on #219
Hi @Kralizek,

I believe you can do so by adding an extra middleware specifically for adding annotation in the pipeline.

[2021-12-14 19:46] Kralizek commented on #219
Hi @lupengamzn

So something like the snippet below?

[code]

[2021-12-15 17:02] macalbert opened #221 "Add information relative to SamplingRules in README.md"
I just have been read the documentation related and I found no mention about how to create a samplingrules.json file in the readme.

Adding at least this link could be useful for future readers :)
[docs.aws.amazon.com/xray/latest/devguide/xray-sdk-dotnet-configuration.html#xray-sdk-dotnet-configuration-sampling](https://docs.aws.amazon.com/xray/latest/devguide/xray-sdk-dotnet-configuration.html#xr

[2021-12-15 17:06] macalbert commented on #221
I answer to myself.
The link exists on the Note section below

<img src="https://media1.giphy.com/media/l0MYwronkQ60aP4Xu/giphy.gif"/>

[2021-12-15 17:06] #221 closed

[2021-12-20 19:40] srprash commented on #220
Hi @napalm684
The `AWSSDKHandler.RegisterXRayForAllServices()` API is to instrument all the clients for AWS SDK only. AWS IoT SDK is not supported yet. Currently, we don't have it on our roadmap so it's difficult to say when would it be supported.

If you consider using [OpenTelemetry](https://aws-otel.github.io/docs/getting-started/lambda) for your lambda application, then I would recommend you o

[2021-12-20 19:49] napalm684 commented on #220
Hi @srprash

Is AWS recommending we move away from AWS X-Ray SDK towards OpenTelemetry for all observability needs in the future?

It is disappointing that the IoT core support in the AWS SDKs doesn't seem to have feature parity with other language/development platforms. Is there some motivation behind this (i.e.: not many customers using .NET for IoT implementations)?

[2021-12-20 19:56] willarmiros commented on #220
We are recommending that customers try out the AWS Distro for OpenTelemetry if they're looking for new instrumentations, since OTel has a much larger collection of supported libraries/frameworks for instrumentation due to their larger community and first-class X-Ray support. Generally speaking there is more bandwidth for such new features from the OTel community.

Regarding the lack of IoT support

[2021-12-20 19:57] napalm684 commented on #220
I will reach out to our enterprise support team. Thanks for letting me know @willarmiros .

[2022-01-02 22:23] jon-armen opened #222 "Support net6.0; Remove support for obsolete frameworks"
- Target Frameworks
  - Remove support for net45 (obsolete)
  - Remove support for netcoreapp2.0 (obsolete)
  - Add support for net462
  - Add support for net672
  - Add support for net48
  - Add additional support for netcoreapp3.1 (added to additional Handlers)
  - Add support for net6.0
- AWS SDK
  - Upgrade AWS SDK from v3.3 to v3.7

- Related Issues
  - #97 #101 #102 This will update the fram

[2022-01-18 23:02] lupengamzn commented on #222
Hi @jon-armen,

Thanks for the contribution and we'll review your PR soon

[2022-01-31 17:27] yngndrw commented on #213
I'd forgotten all about this issue, moved onto another project and ran into it again - This time using `TraceableSqlCommand`. It's very annoying.

Are there any plans to resolve this issue for the next release?